Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, bundle-analysis

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 55%
        threshold: 2%
        if_ci_failed: error

      frontend:
        flags:
          - frontend
        target: 50%
        threshold: 3%
        informational: true

      backend:
        flags:
          - backend
        target: 55%
        threshold: 2%

    patch:
      default:
        target: 55%
        threshold: 5%
        informational: true

flags:
  frontend:
    paths:
      - app/
      - components/
    carryforward: true

  backend:
    paths:
      - lib/
      - electron/
    carryforward: true

  bundle-analysis:
    paths:
      - .next/analyze/
    carryforward: false

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# GitHub Checks
github_checks:
  annotations: true

# Pull Request Comments
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
  - "tests/"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/*.d.ts"
  - "dist/"
  - ".next/"
  - "out/"
  - "node_modules/"
  - "scripts/"
  - "**/__mocks__/"
  - "**/*.config.js"
  - "**/*.config.ts"

docs: v0.6.3 릴리스 노트에 FileExplorer 경로 처리 개선 추가
  release_notes/v0.6.3.md
Due: none

fix: 경로 복사 기능 간소화 및 개선
  components/layout/FileTreeItem.tsx
Due: frontend

docs: v0.6.3 릴리스 노트에 경로 복사 개선 추가
  release_notes/v0.6.3.md
Due: none

refactor: 문서 다이얼로그 컴포넌트 통합 및 Monaco Editor 높이 개선
  components/pages/DocumentsPage.tsx
  components/rag/DocumentDialog.tsx
  components/rag/DocumentEditDialog.tsx
  components/rag/DocumentUploadDialog.tsx
  release_notes/v0.6.3.md
Due: frontend

fix: LLMStatusBar에서 "모델 설정 필요" 메시지 수정
  components/chat/unified/UnifiedChatInput.tsx
Due: frontend

fix: Editor 기본 키보드 단축키 동작 복원
  components/editor/Editor.tsx
  release_notes/v0.6.3.md
Due: frontend

chore: bump version to v0.6.4-beta
  package.json
Due: none

ci: GitHub Actions 릴리스 워크플로우 안정성 개선
  .github/workflows/release.yml
  release_notes/v0.6.4.md
Due: none

fix: retry action 이름 수정
  .github/workflows/release.yml
Due: none

Update components and documentation
  GEMINI.md
  components/chat/LLMStatusBar.tsx
  components/editor/Editor.tsx
  components/editor/EditorSettings.tsx
  components/editor/EditorTabContextMenu.tsx
  components/layout/FileExplorer.tsx
  components/layout/FileTreeContextMenu.tsx
  components/layout/FileTreeItem.tsx
  components/layout/SidebarEditor.tsx
  components/markdown/MermaidDiagram.tsx
  components/presentation/PresentationChat.tsx
  components/rag/DocsSyncDialog.tsx
  components/rag/DocumentList.tsx
  docs/index.html
  electron/ipc/handlers/file.ts
  electron/ipc/handlers/github.ts
  electron/ipc/handlers/llm.ts
  electron/preload.ts
  electron/tests/suites/database.ts
  lib/langgraph/graphs/chat-agent.ts
  lib/langgraph/graphs/editor-agent-advanced.ts
  lib/langgraph/nodes/generate.ts
  lib/langgraph/utils/system-message.ts
  lib/store/chat-store.ts
  lib/utils/token-counter.ts
  package.json
  pnpm-lock.yaml
  release_notes/release_0.6.5.md
  types/editor-settings.ts
  types/electron.d.ts
Due: frontend, backend

test 개선
  tests/frontend/components/ChatHistory.test.tsx
  tests/frontend/components/browser/BrowserToolsList.test.tsx
  tests/frontend/components/layout/FileExplorer.test.tsx
  tests/frontend/components/markdown/MermaidDiagram.test.tsx
  tests/frontend/components/rag/DocumentList.test.tsx
  tests/frontend/components/settings/settingsUtils.test.ts
  tests/setup.ts
Due: none

bugfix
  components/chat/unified/UnifiedChatInput.tsx
  components/chat/unified/hooks/useConfigLoader.ts
  components/chat/unified/hooks/useMessageStreaming.ts
  components/editor/Editor.tsx
  components/layout/FileExplorer.tsx
  components/rag/DocumentList.tsx
  jest-frontend.json
  lib/langgraph/graphs/deep-thinking.ts
  lib/langgraph/graphs/sequential-thinking.ts
  lib/langgraph/graphs/tree-of-thought.ts
Due: frontend, backend

fix: conversation compression order and streaming preservation
  components/chat/CompressConversationDialog.tsx
  components/chat/unified/hooks/useMessageStreaming.ts
Due: frontend

TC 복구 완료
  components/browser/SimpleChatArea.tsx
  components/browser/SimpleChatInput.tsx
  components/chat/ChatArea.tsx
  components/chat/ChatChatArea.tsx
  components/chat/InputBox.tsx
  components/editor/EditorChatArea.tsx
  components/editor/EditorChatInput.tsx
  components/settings/ComfyUISettingsTab.tsx
  components/settings/GitHubOAuthSettings.tsx
  tests/frontend/components/layout/FileExplorer.test.tsx
  tests/frontend/components/layout/SidebarEditor.test.tsx
  tests/frontend/components/markdown/MermaidDiagram.test.tsx
Due: frontend

coding agent 관련 개선
  components/layout/SidebarEditor.tsx
  electron/ipc/handlers/langgraph.ts
  lib/langgraph/graphs/coding-agent.ts
  lib/langgraph/index.ts
  lib/langgraph/prompts/coding-agent-system.ts
  lib/langgraph/state.ts
  lib/langgraph/tools/file-tools.ts
  lib/langgraph/types.ts
  lib/mcp/tools/builtin-tools.ts
Due: frontend, backend

type-check 해결
  components/chat/InputBox.tsx
Due: frontend

ci 빌드 실패 해결
  package.json
Due: none

ci 빌드 실패 해결
  pnpm-lock.yaml
Due: none

docs update
  docs/index.html
Due: none

plotly json 렌더링 다시 적용
  components/markdown/MarkdownRenderer.tsx
Due: frontend

모델 핫스왑 기능
  components/chat/InputBox.tsx
  components/chat/LLMStatusBar.tsx
  components/chat/unified/hooks/useConfigLoader.ts
  components/settings/GitHubOAuthSettings.tsx
  components/settings/GitHubSyncSettings.tsx
  components/settings/ImageGenSettingsTab.tsx
  components/settings/NetworkSettingsTab.tsx
  components/settings/SettingsDialog.tsx
  components/settings/TeamDocsSettings.tsx
  lib/llm/client.ts
Due: frontend, backend

release 문제 해결
  .github/workflows/release.yml
  components/chat/LLMStatusBar.tsx
Due: frontend

update release
  .github/workflows/release.yml
Due: none

v0.6.5
  codecov.yml
  components/chat/LLMStatusBar.tsx
  docs/index.html
  jest.config.js
  package.json
  pnpm-lock.yaml
Due: frontend

update a README.md
  README.md
Due: none

update a README.md
  .github/workflows/ci.yml
Due: none

release 문제 해결
  lib/utils/token-counter.ts
  next.config.js
  pnpm-lock.yaml
  public/polyfills.js
Due: backend

pnpm-lock.yaml 업데이트
  pnpm-lock.yaml
Due: none

update
  electron-builder.json
Due: none

Add custom header management to connections
  components/settings/ConnectionManager.tsx
  components/settings/ModelListView.tsx
  tests/frontend/components/settings/ConnectionManager.test.tsx
Due: frontend

Add model-level custom header overrides
  components/settings/ModelListView.tsx
  tests/frontend/components/settings/ModelListView.test.tsx
Due: frontend

Support removing inherited model headers
  components/settings/ModelListView.tsx
  lib/config/llm-config-migration.ts
  tests/frontend/components/settings/ModelListView.test.tsx
  types/index.ts
Due: frontend, backend
