Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, bundle-analysis, Chat System, LangGraph Agent, MCP Integration, RAG System, Electron IPC, Settings

docs: release_notes v0.7.4 업데이트 - 테스트 안정성 개선 섹션 추가
  release_notes/v0.7.4.md
Due: none

chore: v0.8.0 릴리즈 준비
  eslint.config.js
  package.json
  release_notes/v0.8.0.md
  types/electron.d.ts
Due: none

fix: package.json에 author email 추가 (Linux 빌드 수정)
  package.json
Due: none

docs: Extension 개발 가이드를 리팩토링 내용에 맞게 업데이트
  docs/extensions.md
Due: none

feat: Coding Agent 실행 흐름 Mermaid 시각화 추가
  components/chat/unified/hooks/useMessageStreaming.ts
  lib/utils/agent-flow-visualizer.ts
  release_notes/v0.7.4.md
Due: frontend, backend, Chat System

refactor: GitHub 및 에러 리포팅 핸들러 중복 제거
  electron/ipc/handlers/error-reporting.ts
  electron/ipc/handlers/github.ts
Due: backend, Electron IPC

refactor: Settings 컴포넌트 any 타입 제거 및 타입 안전성 강화
  components/settings/BackupRestoreSettings.tsx
  components/settings/ExtensionManagerTab.tsx
  components/settings/GitHubOAuthSettings.tsx
  components/settings/SettingsDialog.tsx
Due: frontend, Settings

test: SnapshotsList 테스트 수정 - i18n 번역 키로 업데이트
  release_notes/v0.7.4.md
  tests/frontend/components/browser/SnapshotsList.test.tsx
Due: none

docs: 릴리즈 노트에 GitHub 핸들러 리팩토링 추가
  release_notes/v0.7.4.md
Due: none

feat: Settings에 알림 테스트 기능 추가
  components/settings/GeneralSettingsTab.tsx
Due: frontend, Settings

refactor: Layout, Settings, RAG 컴포넌트 any 타입 제거 (19개)
  components/layout/ChatHistory.tsx
  components/layout/MainLayout.tsx
  components/rag/DocsSyncDialog.tsx
  components/settings/ImageGenSettingsTab.tsx
  components/settings/NetworkSettingsTab.tsx
  components/settings/settingsUtils.ts
Due: frontend, Settings

fix: 코드 건강도 모니터링 워크플로우에 cloc 설치 추가
  .github/workflows/code-health-monitor.yml
Due: none

test: BookmarksList i18n 키 업데이트 (25 passed, 3 skipped)
  tests/frontend/components/browser/BookmarksList.test.tsx
Due: none

feat: Personal Docs Settings UI 및 동기화 설정 추가
  components/settings/ConnectionManager.tsx
  components/settings/PersonalDocsSettings.tsx
  components/settings/SettingsDialog.tsx
  components/settings/SettingsSidebar.tsx
  extensions/presentation/README.md
  extensions/presentation/components/PresentationSettings.tsx
  extensions/presentation/components/index.ts
  extensions/presentation/definition.ts
  extensions/presentation/index.ts
  extensions/presentation/manifest.ts
  extensions/terminal/components/SidebarTerminal.tsx
  extensions/terminal/store/index.ts
  lib/llm/client.ts
  lib/llm/web-client.ts
  locales/en.json
  locales/ko.json
  locales/zh.json
  types/electron.d.ts
  types/index.ts
Due: frontend, backend, Settings

refactor: test setup 중복 제거 - 공통 mockElectronAPI 추출
  tests/mocks/electronAPI.ts
  tests/setup.backend.ts
  tests/setup.ts
Due: none

refactor: Chat 컴포넌트 any 타입 제거
  components/chat/LLMStatusBar.tsx
  components/chat/SaveKnowledgeDialog.tsx
Due: frontend, Chat System

test: BrowserAgentLogsView i18n 키 업데이트 (29 passed)
  tests/frontend/components/browser/BrowserAgentLogsView.test.tsx
Due: none

docs: 테스트 Setup 중복 제거를 릴리즈 노트에 추가
  release_notes/v0.7.4.md
Due: none

docs: 브라우저 컴포넌트 테스트 수정 내용을 릴리즈 노트에 추가
  release_notes/v0.7.4.md
Due: none

test: BrowserToolsList i18n 키 업데이트 (30 passed)
  tests/frontend/components/browser/BrowserToolsList.test.tsx
Due: none

docs: BrowserToolsList 테스트 수정 내용을 릴리즈 노트에 추가
  release_notes/v0.7.4.md
Due: none

refactor: VectorDB import 로직 중복 제거 (364 tokens)
  components/markdown/PlotlyChart.tsx
  components/persona/PersonaDialog.tsx
  components/settings/GeneralSettingsTab.tsx
  components/settings/SettingsJsonEditor.tsx
  electron/ipc/handlers/browser-view.ts
  electron/ipc/handlers/vectordb.ts
  electron/services/database.ts
  lib/vectordb/client.ts
  lib/vectordb/import-helper.ts
  types/skill.ts
Due: frontend, backend, Electron IPC, Settings

WIP: Browser Extension 메모리 누수 방지 - 진행 중
  extensions/editor/agents/editor-agent.ts
Due: none

refactor: Editor Agent language utils 중복 제거 (256 tokens)
  components/chat/CompressConversationDialog.tsx
  components/chat/unified/UnifiedChatInput.tsx
  components/chat/unified/hooks/useImageUpload.ts
  components/mcp/MCPServerConfig.tsx
  components/settings/ComfyUISettingsTab.tsx
  components/settings/GeneralSettingsTab.tsx
  components/settings/ModelListView.tsx
  components/settings/PersonalDocsSettings.tsx
  electron/services/skill-database.ts
Due: frontend, backend, Chat System, Settings

refactor: LangGraph state 내부 중복 제거 (424 tokens)
  components/chat/CompressConversationDialog.tsx
  components/chat/unified/UnifiedChatInput.tsx
  components/chat/unified/hooks/useImageUpload.ts
  components/mcp/MCPServerConfig.tsx
  components/settings/ComfyUISettingsTab.tsx
  components/settings/GeneralSettingsTab.tsx
  components/settings/ModelListView.tsx
  components/settings/PersonalDocsSettings.tsx
  electron/services/skill-storage.ts
  extensions/terminal/components/InteractiveTerminal.tsx
  extensions/terminal/components/TerminalPanel.tsx
  lib/langgraph/state.ts
Due: frontend, backend, Chat System, LangGraph Agent, Settings

refactor: Test setup 공통 헬퍼 함수 추출 (215 tokens)
  tests/frontend/components/browser/BrowserSettings.test.tsx
  tests/mocks/test-helpers.ts
  tests/setup.backend.ts
  tests/setup.ts
Due: none

docs: BrowserSettings 테스트 수정 내용 release notes 추가
  components/markdown/PlotlyChart.tsx
  components/persona/PersonaDialog.tsx
  components/settings/SettingsJsonEditor.tsx
  electron/ipc/handlers/browser-view.ts
  release_notes/v0.7.4.md
Due: frontend, backend, Electron IPC, Settings

refactor: components any 타입 제거 및 타입 안정성 개선
  components/persona/PersonaDialog.tsx
  components/settings/SettingsJsonEditor.tsx
Due: frontend, Settings

refactor: PlotlyChart any 타입 제거 및 browser-view cleanupListeners 추가
  electron/ipc/handlers/browser-view.ts
Due: backend, Electron IPC

feat(terminal): 인터랙티브 터미널, 취소 UI, 북마크 기능 추가
  extensions/terminal/components/BookmarksPanel.tsx
  extensions/terminal/components/InteractiveTerminal.tsx
  extensions/terminal/components/TerminalBlock.tsx
  extensions/terminal/components/TerminalPanel.tsx
  extensions/terminal/store/bookmarks.ts
  extensions/terminal/store/index.ts
  extensions/terminal/types/bookmarks.ts
  extensions/terminal/types/index.ts
  types/electron.d.ts
  types/index.ts
Due: frontend, backend

fix: Browser Extension 타입 에러 수정
  electron/ipc/handlers/browser-view.ts
Due: backend, Electron IPC

refactor: LangGraph stream 처리 로직 공통화
  lib/langgraph/index.ts
Due: backend, LangGraph Agent

docs: Browser Extension 메모리 누수 방지 내용 추가
  release_notes/v0.7.4.md
Due: none

fix: MermaidDiagram 셀프 힐링 로직 수정
  components/markdown/MermaidDiagram.tsx
Due: frontend

docs: 코드 중복 제거 작업 release notes 추가
  release_notes/v0.7.4.md
Due: none

docs: v0.8.0 릴리즈 노트에 MermaidDiagram 수정 내용 추가
  release_notes/v0.8.0.md
Due: none

feat: 커스텀 알림 시스템 구현
  app/notification/page.tsx
  components/chat/unified/hooks/useMessageStreaming.ts
  components/settings/GeneralSettingsTab.tsx
  components/ui/custom-notification.tsx
  components/ui/radio-group.tsx
  electron/ipc/handlers/notification.ts
  electron/main.ts
  electron/services/notification-window.ts
  lib/hooks/use-notification.ts
  package.json
  pnpm-lock.yaml
Due: frontend, backend, Chat System, Electron IPC, Settings

feat: Skills 시스템 Phase 1 - Backend 인프라 구현
  electron/ipc/handlers/skills.ts
  electron/main.ts
  electron/services/skill-storage.ts
  lib/skills/loader.ts
  lib/skills/manager.ts
  lib/skills/registry.ts
  release_notes/v0.8.0.md
Due: backend, Electron IPC

feat: table 컴포넌트 추가 및 SettingsDialog 테스트 업데이트
  components/settings/SettingsDialog.tsx
  components/settings/SettingsSidebar.tsx
  components/settings/SkillsSettingsTab.tsx
  components/skills/SkillManager.tsx
  components/ui/table.tsx
  electron/ipc/handlers/skills.ts
  lib/skills/github-integration.ts
  lib/skills/validator.ts
  release_notes/v0.8.0.md
  tests/frontend/components/settings/SettingsDialog.test.tsx
Due: frontend, backend, Electron IPC, Settings

test: SettingsDialog 테스트 일부 수정
  tests/frontend/components/settings/SettingsDialog.test.tsx
Due: none

Path conditions:
  frontend: any of: app/, components/, types/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  backend: any of: lib/, electron/, types/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  bundle-analysis: any of: .next/analyze/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  Chat System: any of: components/chat/**, app/(chat)/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  LangGraph Agent: any of: lib/langgraph/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  MCP Integration: any of: lib/mcp/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  RAG System: any of: lib/rag/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  Electron IPC: any of: electron/ipc/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  Settings: any of: components/settings/**, app/settings/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
