Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

      frontend:
        flags:
          - frontend
        target: 75%
        threshold: 3%

      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%

    patch:
      default:
        target: 80%
        threshold: 5%

flags:
  frontend:
    paths:
      - app/
      - components/
    carryforward: true

  backend:
    paths:
      - lib/
      - electron/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

ignore:
  - "tests/"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.d.ts"
  - "dist/"
  - ".next/"
  - "node_modules/"
  - "scripts/"
  - "**/__mocks__/"

docs: v0.6.0 릴리스 노트에 ChatHistory 메뉴 위치 조정 추가
  release_notes/v0.6.0_v2.md
Due: none

fix: UnifiedChatInput 드롭다운 메뉴를 위로 나타나도록 수정
  components/chat/unified/UnifiedChatInput.tsx
Due: frontend

fix: MCP Tool 리스트 로딩 기능 구현
  components/chat/unified/UnifiedChatInput.tsx
Due: frontend

feat: RAG Semantic Chunking 구현
  .claude/analysis/browser-agent-type-review-v2.md
  components/pages/DocumentsPage.tsx
  components/rag/DocumentUploadDialog.tsx
  components/rag/DocumentUploader.tsx
  lib/vectordb/indexing.ts
  lib/vectordb/types.ts
  release_notes/v0.6.0.md
Due: frontend, backend

feat: RAG 빈 폴더 VectorDB 마이그레이션
  components/rag/DocumentList.tsx
  electron/ipc/handlers/vectordb.ts
  electron/preload.ts
  lib/vectordb/client.ts
  lib/vectordb/types.ts
  release_notes/v0.6.0.md
  types/electron.d.ts
Due: frontend, backend

fix: TestDashboard 버튼 클릭 시 무응답 문제 수정
  components/test-runner/TestDashboard.tsx
Due: frontend

docs: v0.6.0 릴리스 노트에 Test Dashboard 버그 수정 내용 추가
  release_notes/v0.6.0.md
Due: none

fix: ToolApprovalDialog 버튼 클릭 시 다이얼로그 닫히지 않는 버그 수정
  components/chat/unified/UnifiedChatInput.tsx
Due: frontend

docs: v0.6.0 릴리스 노트에 ToolApprovalDialog 버그 수정 추가
  release_notes/v0.6.0_v2.md
Due: none

feat: RAG 검색 시스템 대폭 개선 (하이브리드 검색 + 메타데이터 활용)
  electron/ipc/handlers/vectordb.ts
  electron/services/vectordb.ts
  lib/langgraph/nodes/retrieve.ts
  lib/vectordb/interface.ts
  lib/vectordb/types.ts
  release_notes/v0.6.0.md
Due: backend

fix: RAG 시스템 프롬프트 강화 - LLM이 문서를 반드시 참조하도록 개선
  lib/langgraph/graphs/rag.ts
  lib/langgraph/utils/system-message.ts
  release_notes/v0.6.0.md
Due: backend

fix: RAG Main Process에서 LLM 클라이언트 자동 초기화 추가
  lib/langgraph/graphs/rag.ts
  release_notes/v0.6.0.md
Due: backend

fix: Mermaid 다이어그램 자동 수정 로직 개선
  components/markdown/MermaidDiagram.tsx
  release_notes/v0.6.0_v2.md
Due: frontend

feat: GitHub Sync에 GHES 지원 및 Network 설정 자동 적용 추가
  components/settings/GitHubSyncSettings.tsx
  components/settings/SettingsDialog.tsx
  electron/ipc/handlers/github-sync.ts
  lib/github/client.ts
  release_notes/v0.6.0_v2.md
  types/index.ts
Due: frontend, backend

refactor: Mermaid 다이어그램 자동 수정 기능 제거
  components/markdown/MermaidDiagram.tsx
  release_notes/v0.6.0_v2.md
Due: frontend

fix: GitHub Sync 문서 동기화 시 VectorDB 초기화 에러 수정
  electron/ipc/handlers/github-sync.ts
Due: backend

fix: 프로그램 재시작 시 LLM 설정이 로드되지 않는 문제 수정
  electron/main.ts
  release_notes/v0.6.0_v2.md
Due: backend

feat: GitHub Sync 문서 동기화를 Markdown 파일로 개선
  lib/github/client.ts
  release_notes/v0.6.0_v2.md
Due: backend

fix: 문서 청킹 시 개행 및 공백 보존 개선
  lib/vectordb/indexing.ts
  release_notes/v0.6.0_v2.md
Due: backend

feat: GitHub Sync Pull 기능 추가 - GitHub에서 문서 가져오기
  components/settings/GitHubSyncSettings.tsx
  electron/ipc/handlers/github-sync.ts
  electron/preload.ts
  lib/github/client.ts
  release_notes/v0.6.0_v2.md
  types/electron.d.ts
Due: frontend, backend

fix: GitHub Sync Pull 중복 문서 방지 기능 추가
  components/settings/GitHubSyncSettings.tsx
Due: frontend

feat: Team Docs 기능 추가 - 여러 GitHub Repo에서 팀 문서 동기화
  components/settings/SettingsDialog.tsx
  components/settings/SettingsSidebar.tsx
  components/settings/TeamDocsSettings.tsx
  electron/ipc/handlers/team-docs.ts
  electron/ipc/index.ts
  electron/preload.ts
  types/electron.d.ts
  types/index.ts
Due: frontend, backend

feat: DocumentList에 Personal/Team Docs 탭 추가 및 릴리스 노트 업데이트
  components/rag/DocumentList.tsx
  release_notes/v0.6.0_v2.md
Due: frontend

fix: 에디터 자동완성 타이밍 이슈 수정
  components/editor/Editor.tsx
  release_notes/v0.6.0_v2.md
Due: frontend

feat: Team Docs 및 DocumentList UX 대폭 개선
  components/rag/DocumentList.tsx
  components/settings/TeamDocsSettings.tsx
Due: frontend

feat: Editor AI 작업 진행 상태 시각적 피드백 추가
  components/editor/Editor.tsx
  release_notes/v0.6.0_v2.md
Due: frontend

fix: Team Docs 동기화 로직 개선 - 중복 방지 및 코드 단순화
  components/settings/TeamDocsSettings.tsx
  electron/ipc/handlers/team-docs.ts
Due: frontend, backend

feat: DocumentList에 통합 Docs Sync 다이얼로그 추가
  components/rag/DocsSyncDialog.tsx
  components/rag/DocumentList.tsx
Due: frontend

refactor: GitHubSyncSettings에서 Documents Sync 제거
  components/settings/GitHubSyncSettings.tsx
Due: frontend

fix: Ollama 사용 시 대화 제목 생성 401 에러 수정
  lib/llm/http-utils.ts
  release_notes/v0.6.0_v2.md
Due: backend

fix: Ollama OpenAI 호환 API 사용 시 Authorization 헤더 문제 수정
  lib/llm/http-utils.ts
  release_notes/v0.6.0_v2.md
Due: backend

fix: 에디터 autocomplete가 설정된 전용 LLM 모델을 사용하지 않는 버그 수정
  electron/ipc/handlers/llm.ts
Due: backend

fix: convertV2ToV1에서 vision/autocomplete API 키 누락 버그 수정
  lib/config/llm-config-migration.ts
Due: backend

chore: 사용하지 않는 _deprecated 컴포넌트 삭제
  components/_deprecated/ChatArea.tsx
  components/_deprecated/EditorChatInput.tsx
  components/_deprecated/InputBox.tsx
  components/_deprecated/MainChatInput.tsx
  components/_deprecated/SimpleChatInput.tsx
Due: frontend

feat: Editor Chat에 Agent 모드 선택 기능 추가
  components/editor/EditorChatContainer.tsx
  components/layout/SidebarEditor.tsx
  lib/store/chat-store.ts
Due: frontend, backend

chore: 미사용 컴포넌트 및 테스트 파일 정리
  components/ErrorBoundary.tsx
  components/auth/AccountProfile.tsx
  components/browser/BookmarksDialog.tsx
  components/browser/SimpleChatArea.tsx
  components/browser/SnapshotsDialog.tsx
  components/chat/ActivityPanel.tsx
  components/chat/SaveTextDialog.tsx
  components/chat/unified/UnifiedChatContainer.tsx
  components/editor/EditorChatArea.tsx
  components/rag/DocumentUploader.tsx
  components/settings/ComfyUISettingsTab.tsx
  components/settings/GitHubOAuthSettings.tsx
  components/test-runner/TestDashboard.tsx
  tests/frontend/components/browser/BookmarksDialog.test.tsx
  tests/frontend/components/browser/SimpleChatArea.test.tsx
  tests/frontend/components/browser/SnapshotsDialog.test.tsx
  tests/frontend/components/chat/ActivityPanel.test.tsx
  tests/frontend/components/editor/EditorChatArea.test.tsx
  tests/frontend/components/settings/ComfyUISettingsTab.test.tsx
  tests/frontend/components/settings/GitHubOAuthSettings.test.tsx
Due: frontend

docs: Editor Chat Agent 모드 선택 기능 release notes 추가
  release_notes/v0.6.0_v2.md
Due: none

feat: 모드별 tool 필터링 및 이미지 생성 기능 제한
  components/chat/unified/UnifiedChatInput.tsx
Due: frontend

docs: v0.6.0 릴리스 노트에 모드별 tool 필터링 추가
  release_notes/v0.6.0_v2.md
Due: none

feat: 이미지 생성 전용 모드 및 Provider 선택 개선
  components/chat/unified/UnifiedChatInput.tsx
  components/chat/unified/hooks/useMessageStreaming.ts
  lib/langgraph/nodes/generate.ts
  lib/store/chat-store.ts
  release_notes/v0.6.0.md
Due: frontend, backend
