Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, bundle-analysis, Chat System, LangGraph Agent, MCP Integration, RAG System, Electron IPC, Settings

test: 가장 간단한 워크플로우로 테스트
  .github/workflows/test-template-literal.yml
Due: none

test: github-script 추가
  .github/workflows/test-template-literal.yml
Due: none

test: template literal 추가
  .github/workflows/test-template-literal.yml
Due: none

fix(terminal): SessionTabBar에서 invoke 에러 수정
  extensions/terminal/components/SessionTabBar.tsx
Due: none

test: Bold 마크다운 제거 테스트
  .github/workflows/test-template-literal.yml
Due: none

test: 한 줄 template literal 테스트
  .github/workflows/test-template-literal.yml
Due: none

update locales
  locales/en.json
  locales/ko.json
  locales/zh.json
Due: none

fix(terminal): useEffect 의존성 배열 크기 변경 에러 수정
  extensions/terminal/components/TerminalPanel.tsx
Due: none

terminal 버그 수정
  extensions/terminal/components/SidebarTerminal.tsx
  extensions/terminal/components/TerminalPanel.tsx
  release_notes/v0.7.4.md
Due: none

test: testId wrapper 중복 제거 및 mock 수정
  .github/workflows/auto-lint-fix.yml
  .github/workflows/auto-update-docs.yml
  .github/workflows/automated-bug-hunt.yml
  .github/workflows/code-health-monitor.yml
  .github/workflows/test-template-literal.yml
  components/settings/GeneralSettingsTab.tsx
  components/settings/SettingsDialog.tsx
  tests/frontend/components/settings/SettingsDialog.test.tsx
Due: frontend, Settings

fix: 모든 워크플로우 template literal을 한 줄로 변환
  .github/workflows/auto-lint-fix.yml
  .github/workflows/auto-update-docs.yml
  .github/workflows/automated-bug-hunt.yml
  .github/workflows/code-health-monitor.yml
Due: none

feat(terminal): Terminal Agent LLM 스트리밍 구현
  electron/ipc/handlers/terminal.ts
  electron/preload.ts
  extensions/terminal/agents/terminal-agent.ts
  extensions/terminal/components/TerminalPanel.tsx
  types/electron.d.ts
Due: backend, Electron IPC

docs: v0.7.8 릴리스 노트 - LLM 스트리밍 추가
  release_notes/v0.7.8.md
Due: none

feat: 터미널 ANSI 제어 문자 처리 및 색상 지원 추가
  components/ui/ansi-display.tsx
  extensions/terminal/components/TerminalBlock.tsx
  release_notes/v0.7.4.md
Due: frontend

feat: 터미널 cd 명령어 자동 감지 및 경로 동기화
  extensions/terminal/components/TerminalPanel.tsx
  release_notes/v0.7.4.md
Due: none

fix: Issue 생성 부분의 template literal도 한 줄로 변환
  .github/workflows/auto-lint-fix.yml
  .github/workflows/automated-bug-hunt.yml
  .github/workflows/code-health-monitor.yml
Due: none

test: 존재하지 않는 컴포넌트의 테스트 파일 삭제
  tests/frontend/components/layout/SidebarBrowser.test.tsx
  tests/frontend/components/layout/SidebarEditor.test.tsx
Due: none

chore: v0.7.9 릴리스 - 터미널 경로 동기화 및 ANSI 색상 지원
  package.json
  release_notes/v0.7.9.md
Due: none

test: 추가 테스트 수정
  tests/frontend/components/NetworkSettingsTab.test.tsx
  tests/frontend/components/chat/unified/UnifiedChatArea.test.tsx
  tests/frontend/components/settings/MCPSettingsTab.test.tsx
  tests/frontend/components/settings/settingsUtils.test.ts
Due: none

fix: ChatArea 번역 키 및 테스트 수정
  components/chat/ChatArea.tsx
  tests/frontend/components/chat/ChatArea.test.tsx
Due: frontend, Chat System

feat: LLM 설정에 수동 모델 입력 UI 추가
  components/settings/ModelListView.tsx
  locales/en.json
  locales/ko.json
  locales/zh.json
  release_notes/v0.7.9.md
Due: frontend, Settings

fix: Code Health Monitor의 의존성 체크 파싱 오류 수정
  .github/workflows/code-health-monitor.yml
Due: none

feat: 터미널 자동완성 및 AI 명령어 처리 개선
  components/markdown/MarkdownRenderer.tsx
  components/ui/ansi-display.tsx
  electron/ipc/handlers/terminal.ts
  electron/preload.ts
  extensions/terminal/components/AICommandInput.tsx
  extensions/terminal/components/TerminalPanel.tsx
  release_notes/v0.7.4.md
  types/electron.d.ts
Due: frontend, backend, Electron IPC

test: SidebarChat 페르소나 버튼 타이틀 수정
  tests/frontend/components/layout/SidebarChat.test.tsx
Due: none

test: QuickInputSettingsTab 단축키 테스트 수정
  tests/frontend/components/settings/QuickInputSettingsTab.test.tsx
Due: none

test: KeyboardShortcutInput 모킹하여 QuickInputSettingsTab 테스트 수정
  tests/frontend/components/settings/QuickInputSettingsTab.test.tsx
Due: none

test: mockSessionStorage export 및 리셋 추가
  tests/setup.ts
Due: none

feat: 터미널 기능 고도화 및 Windows 지원 개선
  electron/ipc/handlers/terminal.ts
  extensions/terminal/agents/terminal-agent.ts
  extensions/terminal/components/AICommandInput.tsx
  extensions/terminal/tools/run_command.ts
  types/persona.ts
Due: frontend, backend, Electron IPC

test: MermaidDiagram 복잡한 비동기 테스트 임시 skip
  tests/frontend/components/markdown/MermaidDiagram.test.tsx
Due: none

docs: v0.7.9 릴리즈 노트에 테스트 개선 내용 추가
  release_notes/v0.7.9.md
Due: none

feat: 터미널 AI 에이전트 응답 처리 개선
  electron/ipc/handlers/terminal.ts
  extensions/terminal/agents/terminal-agent.ts
  extensions/terminal/components/TerminalPanel.tsx
Due: backend, Electron IPC

test: WorkingDirectoryIndicator 테스트 수정
  tests/frontend/components/chat/WorkingDirectoryIndicator.test.tsx
Due: none

test: NetworkSettingsTab 테스트 수정
  tests/frontend/components/NetworkSettingsTab.test.tsx
Due: none

test: BackupRestoreSettings 테스트 수정
  tests/frontend/components/settings/BackupRestoreSettings.test.tsx
Due: none

test: EditorChatInput 테스트 수정
  tests/frontend/components/editor/EditorChatInput.test.tsx
Due: none

test: Sidebar 테스트 mock 수정 - 사용하지 않는 SidebarEditor, SidebarBrowser mock 제거
  tests/frontend/components/Sidebar.test.tsx
Due: none

test: SimpleChatInput 테스트 수정 - 에러 로그 메시지 업데이트
  tests/frontend/components/browser/SimpleChatInput.test.tsx
Due: none

test: MCPServerList 테스트 수정 - i18n 번역 텍스트 업데이트
  tests/frontend/components/mcp/MCPServerList.test.tsx
Due: none

test: MCPServerConfig 테스트 수정 - 프리셋 목록 업데이트 (Filesystem 제거, Context7 추가)
  tests/frontend/components/mcp/MCPServerConfig.test.tsx
Due: none

test: DocumentList 테스트 수정 - String({}) fallback 테스트 스킵
  tests/frontend/components/rag/DocumentList.test.tsx
Due: none

Path conditions:
  frontend: any of: app/, components/, types/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  backend: any of: lib/, electron/, types/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  bundle-analysis: any of: .next/analyze/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  Chat System: any of: components/chat/**, app/(chat)/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  LangGraph Agent: any of: lib/langgraph/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  MCP Integration: any of: lib/mcp/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  RAG System: any of: lib/rag/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  Electron IPC: any of: electron/ipc/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  Settings: any of: components/settings/**, app/settings/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
