Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, bundle-analysis

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 55%
        threshold: 2%
        if_ci_failed: error

      frontend:
        flags:
          - frontend
        target: 50%
        threshold: 3%
        informational: true

      backend:
        flags:
          - backend
        target: 55%
        threshold: 2%

    patch:
      default:
        target: 55%
        threshold: 5%
        informational: true

flags:
  frontend:
    paths:
      - app/
      - components/
    carryforward: true

  backend:
    paths:
      - lib/
      - electron/
    carryforward: true

  bundle-analysis:
    paths:
      - .next/analyze/
    carryforward: false

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# GitHub Checks
github_checks:
  annotations: true

# Pull Request Comments
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
  - "tests/"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/*.d.ts"
  - "dist/"
  - ".next/"
  - "out/"
  - "node_modules/"
  - "scripts/"
  - "**/__mocks__/"
  - "**/*.config.js"
  - "**/*.config.ts"

fix: pnpm-lock.yaml 중복 키 제거
  pnpm-lock.yaml
Due: none

fix: ConfigSync에서 Octokit NetworkConfig 미적용 버그 수정
  lib/config/sync.ts
Due: backend

fix: GitHub client에서 regex 특수문자 올바르게 이스케이프 처리
  lib/github/client.ts
Due: backend

fix: LLM 모델 가져오기 브라우저 환경에서 NetworkConfig 미전달 버그 수정
  components/settings/settingsUtils.ts
Due: frontend

fix: WebLLMClient 스트리밍 시 NetworkConfig 미전달 버그 수정
  lib/llm/web-client.ts
Due: backend

fix: Settings UI에서 NetworkConfig 누락 버그 수정
  components/rag/VectorDBSettings.tsx
  components/settings/ComfyUISettingsTab.tsx
  components/settings/GeneralSettingsTab.tsx
  components/settings/ImageGenSettingsTab.tsx
Due: frontend

fix: Electron IPC 핸들러에서 NetworkConfig 누락 버그 수정
  electron/ipc/handlers/error-reporting.ts
  electron/ipc/handlers/file.ts
Due: backend

chore: v0.6.14 릴리즈 준비
  package.json
  release_notes/v0.6.14.md
Due: none

fix: JSON 파싱 SyntaxError 및 프록시 에러 처리 개선
  components/settings/settingsUtils.ts
  lib/http/fetch.ts
  lib/http/index.ts
  lib/llm/providers/ollama.ts
  lib/llm/providers/openai.ts
Due: frontend, backend

fix: 프록시 비활성화 시 환경 변수 무시 처리 추가
  lib/http/agent-factory.ts
  lib/http/fetch.ts
Due: backend

fix: 프록시 환경에서 JSON 파싱 에러 처리 개선
  components/rag/VectorDBSettings.tsx
  components/settings/GeneralSettingsTab.tsx
  electron/ipc/handlers/auth.ts
  electron/ipc/handlers/llm.ts
Due: frontend, backend

chore: v0.6.15 버전 업데이트
  package.json
  release_notes/v0.6.15.md
Due: none

fix: browser-stub에 safeJsonParse 및 HttpError export 추가
  lib/http/browser-stub.ts
Due: backend

fix: 프록시 설정 논리적 모순 방지 및 자동 정규화
  components/settings/NetworkSettingsTab.tsx
  lib/http/config.ts
Due: frontend, backend

chore: v0.6.16 버전 업데이트
  package.json
  release_notes/v0.6.16.md
Due: none

fix: undici를 사용하여 프록시 비활성화 시 환경 변수 무시 메커니즘 강화
  lib/http/agent-factory.ts
  lib/http/fetch.ts
  package.json
  pnpm-lock.yaml
  release_notes/v0.6.17.md
Due: backend

fix: 테스트 안정성 개선 및 i18n mock 추가
  components/chat/ToolApprovalDialog.tsx
  tests/setup.ts
Due: frontend

feat: E2E 테스트 headless 환경 지원 및 문서화
  README.md
  e2e_tests/helpers/app-launcher.ts
  package.json
  pnpm-lock.yaml
  scripts/run-e2e-tests.sh
Due: none

chore: v0.6.18 버전 업데이트
  package.json
  release_notes/v0.6.18.md
Due: none

fix: webpack node: protocol 처리 추가
  next.config.js
Due: none

docs: v0.6.18 릴리즈 노트에 webpack 수정사항 추가
  release_notes/v0.6.18.md
Due: none

fix: undici를 webpack externals에 추가
  next.config.js
Due: none

docs: v0.6.18 릴리즈 노트 업데이트
  release_notes/v0.6.18.md
Due: none

fix: NO_PROXY 환경 변수로 프록시 무시 메커니즘 최종 완성
  lib/http/fetch.ts
  release_notes/v0.6.18.md
Due: backend

proxy 문제 해결
  components/settings/LLMSettingsTab.tsx
  components/settings/SettingsDialog.tsx
  components/settings/settingsUtils.ts
  lib/http/agent-factory.ts
  lib/http/fetch.ts
  types/index.ts
Due: frontend, backend

feat(network): Add 'Ignore Environment Variables' option for proxy settings
  components/settings/LLMSettingsTab.tsx
  lib/http/agent-factory.ts
  locales/en.json
  locales/ko.json
Due: frontend, backend

0.6.19
  package.json
Due: none

chore: UI 컴포넌트 스타일 및 레이아웃 개선
  components/chat/unified/UnifiedChatArea.tsx
  components/editor/CustomPromptDialog.tsx
  components/editor/EditorChatContainer.tsx
  components/editor/EditorContextMenu.tsx
  components/editor/EditorSettings.tsx
  components/editor/SingleFileEditor.tsx
  components/editor/TerminalPanel.tsx
  components/editor/TranslateDialog.tsx
  components/layout/FileExplorer.tsx
  components/layout/Sidebar.tsx
  components/layout/SidebarEditor.tsx
  electron/ipc/handlers/llm.ts
  electron/services/pty-manager.ts
  lib/langgraph/graphs/editor-agent-advanced.ts
  lib/langgraph/index.ts
  lib/langgraph/types.ts
  locales/en.json
  locales/ko.json
  pnpm-lock.yaml
  types/electron.d.ts
  types/node-pty.d.ts
Due: frontend, backend

fix: SidebarChat 하단 툴 아이콘 tooltip 다국어 키 수정
  components/layout/SidebarChat.tsx
Due: frontend

feat: Wiki 트리 기능 추가 - Obsidian 스타일 마크다운 네비게이션
  components/layout/FileExplorer.tsx
  components/layout/WikiTree.tsx
  electron/ipc/handlers/file.ts
  electron/preload.ts
  lib/store/chat-store.ts
  lib/utils/markdown-parser.ts
  locales/en.json
  locales/ko.json
  types/electron.d.ts
Due: frontend, backend

fix: Wiki 트리 렌더링 문제 수정
  components/layout/SidebarEditor.tsx
Due: frontend

feat: Wiki 트리 고급 기능 인프라 구축
  electron/ipc/handlers/file.ts
  electron/preload.ts
  package.json
  pnpm-lock.yaml
  types/electron.d.ts
  types/wiki-tree.ts
Due: backend

feat: Wiki 트리 UI 컴포넌트 추가 - 컨텍스트 메뉴 및 다이얼로그
  components/layout/WikiGroupDialog.tsx
  components/layout/WikiIconDialog.tsx
  components/layout/WikiTreeContextMenu.tsx
Due: frontend

feat: Wiki 트리 다국어 지원 추가
  locales/en.json
  locales/ko.json
Due: none

feat: WikiTree 컴포넌트 대규모 리팩토링 및 기능 개선
  components/layout/FileExplorer.tsx
  components/layout/SidebarEditor.tsx
  components/layout/WikiGroupDialog.tsx
  components/layout/WikiIconDialog.tsx
  components/layout/WikiTree.tsx
  components/layout/WikiTreeContextMenu.tsx
  lib/langgraph/graphs/editor-agent.ts
  locales/en.json
  locales/ko.json
Due: frontend, backend

fix: WikiTreeContextMenu React.Children.only 에러 수정
  components/layout/WikiTree.tsx
Due: frontend

feat: WikiTree Change Color/Icon 기능 구현
  components/layout/WikiTree.tsx
Due: frontend

feat: WikiTree 드래그앤드롭 순서 변경 및 페이지 nesting 기능 구현
  components/layout/WikiTree.tsx
  types/wiki-tree.ts
Due: frontend

fix: 드래그로 그룹에 파일 배치 기능 수정
  components/layout/WikiTree.tsx
Due: frontend

fix: 하위 페이지 선택 및 확장 문제 수정
  components/layout/WikiTree.tsx
Due: frontend
