Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, bundle-analysis

feat: Markdown 미리보기에서 이미지 렌더링 지원
  components/editor/Editor.tsx
  components/markdown/MarkdownRenderer.tsx
  release_notes/v0.6.3.md
Due: frontend

fix: 파일명 변경 시 githubPath 자동 업데이트 및 push 실패 해결
  components/rag/DocumentEditDialog.tsx
  electron/ipc/handlers/team-docs.ts
Due: frontend, backend

fix: Markdown 미리보기에서 로컬 이미지 렌더링 수정
  components/editor/Editor.tsx
  components/markdown/MarkdownRenderer.tsx
  electron/ipc/handlers/file.ts
  electron/preload.ts
  release_notes/v0.6.3.md
  types/electron.d.ts
Due: frontend, backend

feat: 모든 레이아웃 편집 가능 및 스타일 자연스럽게 개선
  components/presentation/SlideRenderer.tsx
Due: frontend

feat: Team Docs 파일명 변경 시 이전 파일 자동 삭제 기능 추가
  components/rag/DocumentEditDialog.tsx
  electron/ipc/handlers/team-docs.ts
  lib/github/client.ts
  release_notes/v0.6.3.md
  types/electron.d.ts
Due: frontend, backend

fix: Quick Input 이벤트 이름 불일치 수정
  app/page.tsx
Due: frontend

refactor: 디버그 로그 제거 및 미사용 파라미터 정리
  components/presentation/SlideRenderer.tsx
Due: frontend

fix: Quick Input 이벤트 페이로드 필드 이름 수정
  components/chat/unified/UnifiedChatInput.tsx
Due: frontend

fix: path-browserify 신뢰성 문제 해결 - IPC로 경로 계산
  components/editor/Editor.tsx
  components/markdown/MarkdownRenderer.tsx
  electron/ipc/handlers/file.ts
  electron/preload.ts
  types/electron.d.ts
Due: frontend, backend

fix: Quick Input/Question 자동 전송 기능 구현
  app/page.tsx
  components/chat/ChatContainer.tsx
  components/chat/unified/UnifiedChatInput.tsx
  electron/ipc/handlers/quick-input.ts
  release_notes/v0.6.0.md
Due: frontend, backend

feat: 모든 레이아웃 편집 기능 완료
  components/presentation/SlideRenderer.tsx
Due: frontend

fix: Working Directory 기준 상대 경로로 이미지 참조
  components/editor/Editor.tsx
  components/markdown/MarkdownRenderer.tsx
  release_notes/v0.6.3.md
Due: frontend

debug: Quick Question 디버그 로그 추가
  app/page.tsx
  components/chat/unified/UnifiedChatInput.tsx
Due: frontend

fix: Quick Question globalShortcut을 단일 메시지 구조로 변경
  electron/main.ts
Due: backend

fix: resolvePath에서 디렉토리 vs 파일 구분 처리
  electron/ipc/handlers/file.ts
Due: backend

feat: TwoColumn 레이아웃 불릿 편집 기능 추가
  components/presentation/SlideRenderer.tsx
Due: frontend

feat: Timeline 레이아웃 편집 기능 구현
  components/presentation/SlideRenderer.tsx
Due: frontend

feat: Grid 레이아웃 편집 기능 구현
  components/presentation/SlideRenderer.tsx
Due: frontend

feat: Stats 레이아웃 생성 및 편집 기능 구현
  components/presentation/SlideRenderer.tsx
Due: frontend

feat: Team Docs UX 개선 - 빈 상태 메시지 정확성 및 업로드 버튼 비활성화
  components/rag/DocumentList.tsx
  components/rag/DocumentUploadDialog.tsx
  release_notes/v0.6.3.md
Due: frontend

chore: 버전 0.6.3-beta로 업데이트
  package.json
Due: none

Update LICENSE
  LICENSE
Due: none

Update LICENSE (#47)
  LICENSE
Due: none

feat: Beta 기능 설정 탭 및 Presentation 모드 토글 추가
  components/layout/SidebarBrowser.tsx
  components/layout/SidebarChat.tsx
  components/layout/SidebarEditor.tsx
  components/settings/BetaSettingsTab.tsx
  components/settings/SettingsDialog.tsx
  components/settings/SettingsSidebar.tsx
  types/index.ts
Due: frontend

bugfix
  components/chat/unified/UnifiedChatInput.tsx
Due: frontend

fix: Presentation 모드 드롭다운 메뉴 항목 조건부 표시
  components/layout/Sidebar.tsx
Due: frontend

feat: DocumentEditDialog에서 Monaco Editor 사용
  components/rag/DocumentEditDialog.tsx
Due: frontend

feat: FileExplorer에 드래그앤드랍 기능 추가
  components/layout/FileTreeItem.tsx
Due: frontend

docs: v0.6.3 릴리스 노트에 드래그앤드랍 기능 추가
  release_notes/v0.6.3.md
Due: none

fix: Windows 경로 처리를 위한 드래그앤드랍 수정
  components/layout/FileTreeItem.tsx
Due: frontend

docs: v0.6.3 릴리스 노트에 Windows 경로 버그 수정 추가
  release_notes/v0.6.3.md
Due: none

feat: 파일 트리 확장 상태 유지 기능 추가
  components/layout/FileTreeItem.tsx
  lib/store/chat-store.ts
Due: frontend, backend

docs: v0.6.3 릴리스 노트에 폴더 확장 상태 유지 기능 추가
  release_notes/v0.6.3.md
Due: none

fix: 폴더 확장 상태 유지를 위한 자동 children 로딩 추가
  components/layout/FileTreeItem.tsx
Due: frontend

docs: v0.6.3 릴리스 노트에 폴더 자동 로딩 버그 수정 추가
  release_notes/v0.6.3.md
Due: none

fix: 이름 변경 시 Input 입력 불가 문제 수정
  components/layout/FileTreeItem.tsx
Due: frontend

docs: v0.6.3 릴리스 노트에 이름 변경 입력 불가 버그 수정 추가
  release_notes/v0.6.3.md
Due: none

fix: 파일/폴더 이름 변경 시 path-browserify 제거 및 IPC 사용
  components/layout/FileTreeItem.tsx
Due: frontend

docs: v0.6.3 릴리스 노트에 이름 변경 파일 삭제 버그 수정 추가
  release_notes/v0.6.3.md
Due: none

fix: FileExplorer에서 path-browserify 제거 및 IPC 사용
  components/layout/FileExplorer.tsx
Due: frontend

Path conditions:
  frontend: any of: app/, components/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, node_modules/, scripts/, **/__mocks__/, **/*.config.js, **/*.config.ts
  backend: any of: lib/, electron/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, node_modules/, scripts/, **/__mocks__/, **/*.config.js, **/*.config.ts
  bundle-analysis: any of: .next/analyze/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, node_modules/, scripts/, **/__mocks__/, **/*.config.js, **/*.config.ts
