Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

      frontend:
        flags:
          - frontend
        target: 75%
        threshold: 3%

      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%

    patch:
      default:
        target: 80%
        threshold: 5%

flags:
  frontend:
    paths:
      - app/
      - components/
    carryforward: true

  backend:
    paths:
      - lib/
      - electron/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

ignore:
  - "tests/"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.d.ts"
  - "dist/"
  - ".next/"
  - "node_modules/"
  - "scripts/"
  - "**/__mocks__/"

refactor: PPT Agent 플로우 개선 - 직접 JSON 생성 방식으로 전환
  lib/presentation/ppt-agent.ts
Due: backend

docs: PPT Agent 플로우 개선 릴리즈 노트 업데이트
  release_notes/v0.6.0.md
Due: none

chore: 버전 0.6.1-beta로 업데이트
  package.json
Due: none

feat: PPT Agent를 Step-by-Step 대화형 워크플로우로 완전 재설계
  components/presentation/PresentationChat.tsx
  lib/presentation/ppt-agent.ts
  lib/store/chat-store.ts
  types/presentation.ts
Due: frontend, backend

fix: Dialog 컴포넌트에 닫기(X) 버튼 추가
  components/rag/DocsSyncDialog.tsx
  components/rag/DocumentUploadDialog.tsx
Due: frontend

feat: 문서 업로드 시 Personal/Team Docs 선택 기능 추가
  components/rag/DocumentUploadDialog.tsx
Due: frontend

refactor: Team Docs push/pull 기능 대폭 개선
  components/rag/DocsSyncDialog.tsx
  electron/ipc/handlers/github-sync.ts
  electron/ipc/handlers/team-docs.ts
  electron/preload.ts
  lib/github/client.ts
  types/electron.d.ts
Due: frontend, backend

fix: TeamDocsAPI 타입 정의 수정
  types/electron.d.ts
Due: none

fix: syncTeamDocsInternal 반환 타입 수정
  electron/ipc/handlers/team-docs.ts
Due: backend

fix: Team Docs Push 시 409 에러 수정
  lib/github/client.ts
Due: backend

feat: RAG 대용량 문서 처리 개선 (2025 Best Practices 적용)
  electron/ipc/handlers/team-docs.ts
  electron/services/vectordb.ts
  lib/vectordb/indexing.ts
  lib/vectordb/types.ts
Due: backend

docs: RAG 대용량 문서 처리 개선 내용 release notes에 추가
  release_notes/v0.6.0.md
Due: none

refactor: SidebarChat에서 Presentation 아이콘 제거
  components/layout/SidebarChat.tsx
Due: frontend

refactor: Team Docs 다중 레포 지원 및 Pull/Push 기능 분리
  components/rag/DocsSyncDialog.tsx
  components/rag/DocumentList.tsx
Due: frontend

feat: Documents 카테고리 추가 및 Team Docs 재구성
  components/settings/SettingsSidebar.tsx
Due: frontend

fix: 프레젠테이션 기능 주요 버그 수정 및 개선
  components/presentation/PresentationChat.tsx
  components/presentation/SlideRenderer.tsx
  lib/presentation/image-generation.ts
  lib/presentation/ppt-agent.ts
Due: frontend, backend

refactor: SidebarEditor와 SidebarBrowser에서 Presentation 아이콘 제거
  components/layout/SidebarBrowser.tsx
  components/layout/SidebarEditor.tsx
Due: frontend

feat: RAG 검색에 TeamDocs 포함 (docGroup 필터 추가)
  electron/services/vectordb.ts
  lib/langgraph/nodes/retrieve.ts
  lib/vectordb/types.ts
Due: backend

fix: 슬라이드 자동 생성 기능 개선
  components/presentation/PresentationChat.tsx
  lib/presentation/ppt-agent.ts
Due: frontend, backend

debug: 슬라이드 생성 디버깅 로그 추가 및 JSON 파싱 개선
  components/presentation/PresentationChat.tsx
  lib/presentation/ppt-agent.ts
Due: frontend, backend

refactor: DocsSyncDialog 및 DocumentList 코드 정리
  components/rag/DocsSyncDialog.tsx
  components/rag/DocumentList.tsx
Due: frontend

debug: RAG 검색 디버깅 로그 추가
  electron/services/vectordb.ts
  lib/langgraph/nodes/retrieve.ts
Due: backend

debug: 슬라이드 생성 및 Store 업데이트 추가 디버깅
  components/presentation/SlidePreview.tsx
  lib/presentation/ppt-agent.ts
  lib/store/chat-store.ts
Due: frontend, backend

debug: VectorDB docGroup 필터링 상세 로그 추가
  electron/services/vectordb.ts
Due: backend

feat: 프레젠테이션 진행 상태 시각화 추가
  components/presentation/PresentationChat.tsx
  components/presentation/PresentationStudio.tsx
Due: frontend

fix: SlidePreview 안정성 및 성능 개선
  components/presentation/SlidePreview.tsx
Due: frontend

debug: TeamDocs 동기화 및 인덱싱 전체 과정 로그 추가
  electron/ipc/handlers/team-docs.ts
  electron/services/vectordb.ts
Due: backend

fix: undefined 슬라이드 요소로 인한 crash 수정
  components/presentation/SlidePreview.tsx
  lib/presentation/ppt-agent.ts
Due: frontend, backend

fix: ComfyUI 이미지 생성 크기를 512x512로 고정
  lib/comfyui/client.ts
Due: backend

fix: TeamDocs 로그의 타입 에러 수정
  electron/ipc/handlers/team-docs.ts
Due: backend

fix: ComfyUI 이미지 생성 timeout을 10분으로 연장
  lib/comfyui/client.ts
Due: backend

debug: VectorDB 검색 각 단계별 docGroup 분포 로그 추가
  electron/services/vectordb.ts
Due: backend

debug: 필터링 단계에서 제외되는 문서 타입별 카운트 로그 추가
  electron/services/vectordb.ts
Due: backend

feat: PPT 생성 워크플로우 개선 및 bulkCreation 모드 추가
  components/presentation/PresentationChat.tsx
  components/rag/DocsSyncDialog.tsx
  lib/presentation/ppt-agent.ts
Due: frontend, backend

fix: 이미지 생성 및 MCP tool timeout 연장 및 크기 고정
  lib/langgraph/nodes/tools.ts
  lib/mcp/transport/stdio.ts
Due: backend

debug: Personal vs Team docs의 parent/chunk 분포 비교 로그 추가
  electron/services/vectordb.ts
Due: backend

feat: 디자인 옵션 동적 버튼 및 색상 미리보기 추가
  components/presentation/PresentationChat.tsx
  lib/presentation/ppt-agent.ts
  types/presentation.ts
Due: frontend, backend

feat: MCP tool 및 이미지 생성 중단 기능 구현
  lib/langgraph/nodes/tools.ts
Due: backend

feat: 웹검색 토글 및 슬라이드 검증/보정 기능 추가
  components/presentation/PresentationChat.tsx
  lib/presentation/ppt-agent.ts
  types/presentation.ts
Due: frontend, backend
