Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, bundle-analysis

Add test for model-specific header removal
  tests/lib/config/llm-config-migration.test.ts
Due: none

Enable connection-level custom header configuration (#79)
  components/settings/ConnectionManager.tsx
  components/settings/ModelListView.tsx
  lib/config/llm-config-migration.ts
  tests/frontend/components/settings/ConnectionManager.test.tsx
  tests/frontend/components/settings/ModelListView.test.tsx
  tests/lib/config/llm-config-migration.test.ts
  types/index.ts
Due: frontend, backend

다국어 지원 문제 개선 & 버그 해결
  app/layout.tsx
  components/browser/BrowserPanel.tsx
  components/chat/InputBox.tsx
  components/chat/LLMStatusBar.tsx
  components/chat/unified/UnifiedChatInput.tsx
  components/chat/unified/hooks/useMessageStreaming.ts
  components/editor/Editor.tsx
  components/editor/SearchPanel.tsx
  components/editor/SingleFileEditor.tsx
  components/layout/ChatHistory.tsx
  components/mcp/MCPServerConfig.tsx
  components/mcp/MCPServerList.tsx
  components/rag/DocsSyncDialog.tsx
  components/rag/DocumentDialog.tsx
  components/rag/DocumentList.tsx
  components/rag/VectorDBSettings.tsx
  components/settings/BackupRestoreSettings.tsx
  components/settings/BetaSettingsTab.tsx
  components/settings/ConnectionManager.tsx
  components/settings/GeneralSettingsTab.tsx
  components/settings/GitHubOAuthSettings.tsx
  components/settings/GitHubSyncSettings.tsx
  components/settings/LLMSettingsTab.tsx
  components/settings/ModelListView.tsx
  components/settings/NetworkSettingsTab.tsx
  components/settings/QuickInputSettingsTab.tsx
  components/settings/SettingsDialog.tsx
  components/settings/SettingsJsonEditor.tsx
  components/settings/SettingsSidebar.tsx
  components/settings/TeamDocsSettings.tsx
  components/ui/separator.tsx
  electron/ipc/handlers/llm.ts
  electron/preload.ts
  lib/chat/title-generator.ts
  locales/en.json
  locales/ko.json
  locales/zh.json
  pnpm-lock.yaml
  types/electron.d.ts
  types/index.ts
Due: frontend, backend

feat: Phase 1 다국어(i18n) 지원 추가 - Settings 및 Quick Input
  app/quick-input/page.tsx
  components/settings/ComfyUISettingsTab.tsx
  locales/en.json
  locales/ko.json
  locales/zh.json
Due: frontend

feat: ImageGenSettingsTab 다국어 지원 추가
  components/settings/ImageGenSettingsTab.tsx
  locales/en.json
  locales/ko.json
  locales/zh.json
Due: frontend

feat: MCPSettingsTab & SettingsDialog 다국어 지원 추가
  components/settings/MCPSettingsTab.tsx
  components/settings/SettingsDialog.tsx
  locales/en.json
  locales/ko.json
  locales/zh.json
Due: frontend

chore: v0.6.6 릴리스 준비
  .gitignore
  package.json
  release_notes/v0.6.6.md
Due: none

fix(ci): SSH URL을 HTTPS로 변환하여 node-gyp 설치 문제 해결
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add claude GitHub actions 1765866311919 (#80)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix(i18n): ModelListView에서 사용하는 누락된 번역 키 추가
  locales/en.json
  locales/ko.json
Due: none

refactor(i18n): zh.json 구조를 ko.json/en.json과 동일하게 통일
  locales/zh.json
Due: none

fix(i18n): zh.json에 누락된 settings.githubOAuth 섹션 추가
  locales/zh.json
Due: none

refactor: HTTP 통신 중앙 집중화 모듈 lib/http/ 생성
  electron/ipc/handlers/auth.ts
  electron/ipc/handlers/comfyui.ts
  electron/ipc/handlers/presentation-export.ts
  electron/utils/update-checker.ts
  lib/documents/fetchers.ts
  lib/http/agent-factory.ts
  lib/http/config.ts
  lib/http/fetch.ts
  lib/http/index.ts
  lib/http/node-http.ts
  lib/http/sse.ts
  lib/http/types.ts
  lib/http/websocket.ts
  lib/imagegen/nanobanana-client.ts
  lib/llm/http-utils.ts
  release_notes/v0.6.6.md
Due: backend

chore: v0.6.7 릴리스 준비
  package.json
  release_notes/v0.6.7.md
Due: none

fix(build): Next.js 빌드 시 lib/http 모듈의 Node.js 의존성 처리
  electron/ipc/handlers/presentation-export.ts
  lib/http/agent-factory.ts
  lib/http/browser-stub.ts
  lib/http/node-http.ts
  lib/http/websocket.ts
  next.config.js
Due: backend

docs: v0.6.7 릴리스 노트에 빌드 수정 사항 추가
  release_notes/v0.6.7.md
Due: none

fix(build): agent-factory.ts에서 node:https 동적 import 처리
  lib/http/agent-factory.ts
Due: backend

docs: v0.6.7 릴리스 노트에 agent-factory 동적 import 수정 추가
  release_notes/v0.6.7.md
Due: none

feat: LLM 통신 에러 로깅 개선
  electron/ipc/handlers/llm.ts
  lib/http/fetch.ts
  lib/http/index.ts
  lib/utils/error-handler.ts
Due: backend

docs: release notes에 에러 로깅 개선 내용 추가
  release_notes/v0.6.6.md
Due: none

fix(test): title-generator 테스트 및 커버리지 임계값 수정
  jest.config.js
  tests/lib/chat/title-generator.test.ts
Due: none

docs: v0.6.7 릴리스 노트에 테스트 수정 내용 추가
  release_notes/v0.6.7.md
Due: none

fix(editor): EditorTab 컨텍스트 메뉴 중복 등록 버그 수정
  components/editor/Editor.tsx
  components/editor/EditorTab.tsx
Due: frontend

docs: v0.6.7 릴리스 노트에 EditorTab 버그 수정 내용 추가
  release_notes/v0.6.7.md
Due: none

fix(settings): LLM 모델 목록 가져오기 오류 진단 개선
  components/settings/ModelListView.tsx
  electron/ipc/handlers/llm.ts
  release_notes/v0.6.7.md
Due: frontend, backend

fix(editor): EditorAgent 파일 작업 및 무한 루프 문제 해결
  lib/langgraph/graphs/editor-agent.ts
  lib/mcp/server-manager.ts
  release_notes/v0.6.7.md
Due: backend

fix(editor): EditorAgent를 로컬 도구만 사용하도록 제한
  lib/langgraph/graphs/editor-agent.ts
  release_notes/v0.6.7.md
Due: backend

feat(settings): NetworkSettingsTab에 환경 변수 디버깅 도구 추가
  components/settings/NetworkSettingsTab.tsx
  electron/ipc/handlers/config.ts
  electron/preload.ts
  release_notes/v0.6.7.md
  types/electron.d.ts
Due: frontend, backend

fix(app): 단일 인스턴스 실행 및 트레이 아이콘 중복 생성 방지
  electron/main.ts
  release_notes/v0.6.7.md
Due: backend

fix(i18n): NetworkSettingsTab 환경 변수 섹션 다국어 지원 추가
  components/settings/NetworkSettingsTab.tsx
  locales/en.json
  locales/ko.json
  locales/zh.json
  release_notes/v0.6.7.md
Due: frontend

fix(i18n): settings.sync 섹션 추가로 GitHubSyncSettings 번역 지원
  locales/en.json
  locales/ko.json
  locales/zh.json
  release_notes/v0.6.7.md
Due: none

fix(i18n): BrowserSettings 컴포넌트 다국어 지원 추가
  components/browser/BrowserSettings.tsx
Due: frontend

fix(i18n): EditorSettings 컴포넌트 다국어 지원 추가
  components/editor/EditorSettings.tsx
  locales/en.json
  locales/ko.json
  locales/zh.json
Due: frontend

fix(i18n): MCPServerList 컴포넌트 다국어 지원 추가
  components/mcp/MCPServerList.tsx
  locales/en.json
  locales/ko.json
  locales/zh.json
Due: frontend

docs: v0.6.7 릴리스 노트에 EditorSettings와 MCPServerList i18n 추가
  release_notes/v0.6.7.md
Due: none

chore: v0.6.8 릴리스 준비
  package.json
  release_notes/v0.6.8.md
Due: none

refactor(editor): 컨텍스트 메뉴를 계층 구조로 재구성 및 단축키 매핑 개선
  components/editor/SingleFileEditor.tsx
Due: frontend

refactor(editor): 컨텍스트 메뉴 순서 변경 및 전체 단축키 매핑 완성
  components/editor/SingleFileEditor.tsx
Due: frontend

Path conditions:
  frontend: any of: app/, components/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, node_modules/, scripts/, **/__mocks__/, **/*.config.js, **/*.config.ts
  backend: any of: lib/, electron/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, node_modules/, scripts/, **/__mocks__/, **/*.config.js, **/*.config.ts
  bundle-analysis: any of: .next/analyze/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, node_modules/, scripts/, **/__mocks__/, **/*.config.js, **/*.config.ts
