Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, bundle-analysis, Chat System, LangGraph Agent, MCP Integration, RAG System, Electron IPC, Settings

Path conditions:
  frontend: any of: app/, components/, types/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  backend: any of: lib/, electron/, types/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  bundle-analysis: any of: .next/analyze/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  Chat System: any of: components/chat/**, app/(chat)/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  LangGraph Agent: any of: lib/langgraph/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  MCP Integration: any of: lib/mcp/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  RAG System: any of: lib/rag/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  Electron IPC: any of: electron/ipc/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  Settings: any of: components/settings/**, app/settings/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js

feat: Skills 시스템 Phase 3 - Agent 통합 및 자동 활성화
  lib/langgraph/graphs/coding-agent.ts
  lib/langgraph/graphs/deep-thinking.ts
  lib/langgraph/graphs/sequential-thinking.ts
  lib/langgraph/skills-injector.ts
  lib/skills/context-matcher.ts
  lib/skills/manager.ts
  release_notes/v0.8.0.md
Due: backend, LangGraph Agent

feat(terminal): 개별 블록 내 인터랙티브 터미널 임베딩
  extensions/terminal/components/TerminalBlock.tsx
  extensions/terminal/components/TerminalPanel.tsx
  extensions/terminal/types/index.ts
Due: none

fix(settings): LLM Config V2 로드 로직 개선 및 테스트 수정
  components/settings/SettingsDialog.tsx
  tests/frontend/components/settings/SettingsDialog.test.tsx
Due: frontend, Settings

docs: Release Notes v0.8.0 업데이트
  release_notes/v0.8.0.md
Due: none

fix: Skills 시스템 Phase 3 TypeScript 타입 에러 수정
  electron/ipc/handlers/skills.ts
  electron/ipc/index.ts
  release_notes/v0.8.0.md
  types/skill.ts
Due: frontend, backend, Electron IPC

feat: 알림 시스템 개선 및 인터랙티브 터미널 추가
  app/globals.css
  app/notification/page.tsx
  components/settings/GeneralSettingsTab.tsx
  components/ui/custom-notification.tsx
  electron/ipc/handlers/notification.ts
  electron/services/notification-window.ts
  extensions/terminal/components/InteractiveTerminal.tsx
  lib/hooks/use-notification.ts
Due: frontend, backend, Electron IPC, Settings

fix: TypeScript 타입 에러 수정
  components/markdown/PlotlyChart.tsx
  electron/ipc/handlers/skills.ts
  electron/ipc/handlers/vectordb.ts
  lib/hooks/use-notification.ts
  types/electron.d.ts
Due: frontend, backend, Electron IPC

feat: 알림 시스템 및 Extension 로더 개선
  app/notification/page.tsx
  electron/main.ts
  electron/preload.ts
  electron/services/notification-window.ts
  lib/extensions/loader.ts
Due: frontend, backend

feat: 알림 설정 UI 및 윈도우 서비스 개선
  components/settings/GeneralSettingsTab.tsx
  electron/services/notification-window.ts
Due: frontend, backend, Settings

feat: Builtin Skills 추가 및 UI 개선
  builtin-skills/sepilot-coding-guide/content.json
  builtin-skills/sepilot-coding-guide/skill.json
  components/skills/SkillManager.tsx
  electron/ipc/handlers/skills.ts
  release_notes/v0.8.0.md
Due: frontend, backend, Electron IPC

refactor: skill-database.ts 파싱 로직 중복 제거 (532 tokens)
  electron/services/skill-database.ts
Due: backend

refactor: Skills 버전 비교 로직 중복 제거 (211 tokens)
  lib/skills/github-integration.ts
  lib/skills/loader.ts
  lib/skills/version-utils.ts
Due: backend

refactor: Google Search 도구 스키마 중복 제거 (195 tokens)
  lib/mcp/tools/google-search-tools.ts
Due: backend, MCP Integration

refactor: Graph Skills 주입 로직 중복 제거 (162 tokens)
  lib/langgraph/graphs/deep-thinking.ts
  lib/langgraph/graphs/sequential-thinking.ts
  lib/langgraph/skills-injector.ts
Due: backend, LangGraph Agent

fix: LLM client에 'custom' provider 지원 추가
  lib/llm/client.ts
Due: backend

fix: MCPServerConfig 에러 처리 테스트 수정
  tests/frontend/components/mcp/MCPServerConfig.test.tsx
Due: none

fix: Sidebar 테스트 extension 시스템 지원 추가
  tests/frontend/components/Sidebar.test.tsx
Due: none

feat: 알림 시스템 및 터미널 기능 대폭 개선
  app/notification/page.tsx
  electron/ipc/handlers/notification.ts
  electron/main.ts
  electron/preload.ts
  electron/services/notification-window.ts
  electron/services/pty-manager.ts
  extensions/terminal/components/InteractiveTerminal.tsx
  extensions/terminal/components/TerminalBlock.tsx
  extensions/terminal/components/TerminalPanel.tsx
  lib/langgraph/nodes/generate.ts
Due: frontend, backend, LangGraph Agent, Electron IPC

refactor: Host와 Extension 간 타입 의존성 분리 + Public repo 빌드 수정
  components/chat/unified/plugins/AgentLogsPlugin.tsx
  components/chat/unified/types.ts
  electron/ipc/handlers/llm/llm.ts
  electron/ipc/handlers/terminal/terminal.ts
  lib/domains/agent/factory/graph-factory.ts
  lib/domains/mcp/tools/builtin-tools.ts
  lib/domains/mcp/tools/google-search-handlers.ts
  lib/extension-sdk/src/types/browser.ts
  lib/extension-sdk/src/types/index.ts
  lib/store/chat-store.ts
  tsconfig.build.json
  tsconfig.frontend.json
  tsconfig.json
  types/extension-stubs.d.ts
Due: frontend, backend, Chat System, Electron IPC

fix: pnpm-lock.yaml 재생성 (test 의존성 제거 반영)
  pnpm-lock.yaml
Due: none

fix: release workflow에서 build:icon 단계 제거
  .github/workflows/release.yml
Due: none

fix: lib/extensions/ 디렉토리 추가
  lib/extensions/README.md
  lib/extensions/agent-builder.ts
  lib/extensions/agent-runtime.ts
  lib/extensions/apis/command-api.ts
  lib/extensions/apis/llm-provider.ts
  lib/extensions/apis/mcp-access.ts
  lib/extensions/apis/skills-access.ts
  lib/extensions/apis/ui-api.ts
  lib/extensions/apis/vectordb-access.ts
  lib/extensions/apis/workspace-api.ts
  lib/extensions/context-factory.ts
  lib/extensions/dependency-resolver.ts
  lib/extensions/extension-imports.ts
  lib/extensions/external-loader.ts
  lib/extensions/host-module-registry.ts
  lib/extensions/index.ts
  lib/extensions/loader-main.ts
  lib/extensions/loader-runtime.ts
  lib/extensions/loader.ts
  lib/extensions/main-context-factory.ts
  lib/extensions/namespaced-tool-registry.ts
  lib/extensions/permission-validator.ts
  lib/extensions/registry.ts
  lib/extensions/runtime-loader.ts
  lib/extensions/sdk-initializer-main.ts
  lib/extensions/types.ts
  lib/extensions/use-extensions.ts
Due: backend

chore: pnpm-lock.yaml을 hoisted 모드로 재생성
  pnpm-lock.yaml
Due: none

feat: macOS entitlements.plist 추가
  assets/entitlements.mac.plist
Due: none

fix: @vscode/ripgrep를 ignoredBuiltDependencies로 이동
  package.json
Due: none

fix: Windows installer 모듈 누락 문제 해결
  package.json
  pnpm-lock.yaml
Due: none

fix: 프로덕션 빌드 p-timeout 모듈 누락 수정
  package.json
  pnpm-lock.yaml
Due: none

release: SEPilot Desktop v0.99.3 빌드 수정 및 개선사항 반영
  components/layout/Sidebar.tsx
  lib/domains/agent/factory/graph-factory.ts
  lib/domains/agent/graphs/coding-agent.ts
  lib/domains/agent/graphs/cowork-graph.ts
  lib/domains/agent/prompts/cowork-system.ts
  lib/store/chat-store.ts
  package.json
  pnpm-lock.yaml
  tsconfig.build.json
  tsconfig.frontend.json
  tsconfig.json
  types/extension-stubs.d.ts
Due: frontend, backend

refactor: 미사용 스크립트 제거 (build-icon.js, build-sdk.sh)
  scripts/build-icon.js
  scripts/build-sdk.sh
Due: none

feat: Windows Portable 빌드 추가
  .github/workflows/release.yml
Due: none

fix: portable 빌드 명령어 수정 (pnpm exec 추가)
  .github/workflows/release.yml
Due: none

chore: 버전 0.99.4로 업데이트
  package.json
Due: none

fix(ci): GitHub Release 생성 재시도 로직 개선
  .github/workflows/release.yml
Due: none

fix(deps): 보안 취약점 해결 (Private → Public sync)
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  scripts/README.md
  scripts/after-pack-portable.js
  scripts/build-electron.js
  scripts/build-sdk.js
  scripts/build-workspace-extensions.js
  scripts/bundle-extensions.js
  scripts/copy-monaco.js
  scripts/fix-extension-lib.js
  scripts/fix-pty-permissions.js
  scripts/install-extensions.js
  scripts/package-all-extensions.js
  scripts/sync-module-registry.js
  scripts/wrap-extension-renderer.js
Due: none

fix: CD workflow 필수 scripts 복원
  scripts/README.md
  scripts/after-pack-portable.js
  scripts/build-electron.js
  scripts/build-icon.js
  scripts/build-sdk.js
  scripts/build-workspace-extensions.js
  scripts/copy-monaco.js
  scripts/fix-extension-lib.js
  scripts/fix-pty-permissions.js
  scripts/install-extensions.js
  scripts/package-all-extensions.js
Due: none

fix(deps): 보안 취약점 해결 (tar, minimatch) (#196)
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  scripts/build-icon.js
  scripts/bundle-extensions.js
  scripts/sync-module-registry.js
  scripts/wrap-extension-renderer.js
Due: none
