Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

docs: 이미지 생성 버그 수정 릴리스 노트 업데이트
  release_notes/v0.6.0.md
Due: none

fix: 이미지 생성 시 최종 메시지 콘텐츠로 상태 메시지 교체
  components/chat/unified/hooks/useMessageStreaming.ts
Due: frontend

refactor: Editor Chat maxWidth 제한 제거
  components/editor/EditorChatContainer.tsx
Due: frontend

fix: Clipboard API 에러 수정 및 console.error 개선
  components/chat/MessageBubble.tsx
  components/editor/EditorChatContainer.tsx
  components/layout/FileTreeItem.tsx
  components/layout/MainLayout.tsx
  components/markdown/CodeBlock.tsx
  components/markdown/MermaidDiagram.tsx
  components/markdown/PlotlyChart.tsx
  lib/utils/clipboard.ts
Due: frontend, backend

feat: Team Docs 협업 기능 구현 (Push/Pull 워크플로우)
  components/rag/DocumentEditDialog.tsx
  components/rag/DocumentList.tsx
  components/rag/DocumentUploadDialog.tsx
  electron/ipc/handlers/team-docs.ts
  electron/preload.ts
  lib/github/client.ts
  release_notes/v0.6.0.md
  types/electron.d.ts
Due: frontend, backend

feat: AI Presentation Lab 기능 추가 및 코드 품질 개선
  components/layout/SidebarPresentation.tsx
  components/presentation/PresentationChat.tsx
  components/presentation/PresentationStudio.tsx
  components/presentation/SlidePreview.tsx
  components/presentation/StylePresetBar.tsx
  electron/ipc/handlers/presentation-export.ts
  lib/presentation/exporters.ts
  lib/presentation/image-generation.ts
  lib/presentation/ppt-agent.ts
  types/presentation.ts
Due: frontend, backend

fix: presentation-export.ts 타입 정의 수정
  electron/ipc/handlers/presentation-export.ts
Due: backend

fix: presentation-export import 경로 수정
  electron/ipc/handlers/presentation-export.ts
Due: backend

feat: Chat 모드에서 Presentation 빠른 전환 버튼 추가
  components/layout/SidebarChat.tsx
Due: frontend

Revert "feat: Chat 모드에서 Presentation 빠른 전환 버튼 추가"
  components/layout/SidebarChat.tsx
Due: frontend

feat: Chat/Editor/Browser 사이드바 footer에 Presentation 모드 접근 버튼 추가
  components/layout/SidebarBrowser.tsx
  components/layout/SidebarChat.tsx
  components/layout/SidebarEditor.tsx
Due: frontend

feat: Sidebar 드롭다운 메뉴에 Presentation 모드 추가
  components/layout/Sidebar.tsx
Due: frontend

feat: AI Presentation Lab 핵심 인프라 구축
  app/page.tsx
  electron/ipc/index.ts
  lib/mcp/tools/editor-tools.ts
  lib/store/chat-store.ts
  package.json
  tests/lib/presentation/exporters.test.ts
Due: frontend, backend

fix: Presentation Agent가 LLM 설정의 activeBaseModel을 사용하도록 수정
  components/presentation/PresentationChat.tsx
  lib/presentation/ppt-agent.ts
Due: frontend, backend

fix: Presentation Agent 슬라이드 생성 타임아웃 및 에러 처리 개선
  lib/presentation/ppt-agent.ts
Due: backend

refactor: Presentation UI 간소화 및 UX 개선
  components/layout/SidebarPresentation.tsx
  components/presentation/PresentationChat.tsx
  lib/store/chat-store.ts
Due: frontend, backend

fix: Presentation 구조 근본 재설계 및 슬라이드 생성 개선
  components/layout/SidebarPresentation.tsx
  lib/presentation/ppt-agent.ts
Due: frontend, backend

fix: Presentation 모드 UI 구조 개선 및 스트리밍 표시 추가
  components/layout/SidebarPresentation.tsx
  components/presentation/PresentationChat.tsx
  components/presentation/PresentationStudio.tsx
  components/presentation/SlidePreview.tsx
Due: frontend

feat: 엔터프라이즈 수준 프레젠테이션 디자인 시스템 구현
  components/presentation/SlidePreview.tsx
  components/presentation/SlideRenderer.tsx
Due: frontend

docs: AI Presentation Lab 릴리스 노트 추가
  release_notes/v0.6.0.md
Due: none

fix: SlidePreview 무한 루프 수정
  components/presentation/SlidePreview.tsx
Due: frontend

feat: LLM에 창의적 자유도 부여 - 프레젠테이션 디자인 대폭 강화
  components/presentation/SlidePreview.tsx
  lib/presentation/ppt-agent.ts
  types/presentation.ts
Due: frontend, backend

fix: presentation-export 타입 에러 수정
  electron/ipc/handlers/presentation-export.ts
Due: backend

design: 우측 하단 도구 아이콘 디자인 개선
  components/chat/unified/UnifiedChatInput.tsx
Due: frontend

docs: v0.6.0 릴리스 노트에 도구 아이콘 디자인 개선 추가
  release_notes/v0.6.0.md
Due: none

feat: 새 대화 생성 시 기본값을 Instant 모드로 설정
  lib/store/chat-store.ts
Due: backend

docs: v0.6.0 릴리스 노트에 새 대화 기본값 설정 추가
  release_notes/v0.6.0_v2.md
Due: none

feat: PPT Agent Tool 시스템 구현 및 언어 감지 개선
  components/presentation/PresentationChat.tsx
  lib/presentation/ppt-agent.ts
  lib/presentation/ppt-tools.ts
Due: frontend, backend

docs: PPT Agent Tool 시스템 릴리스 노트 추가
  release_notes/v0.6.0_v2.md
Due: none

feat: Editor에 파일 변경 감지 및 새로고침 기능 추가
  components/editor/Editor.tsx
  electron/ipc/handlers/file.ts
  electron/preload.ts
  types/electron.d.ts
Due: frontend, backend

feat: 파일 탐색기에 새로고침 기능 추가
  components/layout/FileExplorer.tsx
  components/layout/FileTreeContextMenu.tsx
  components/layout/FileTreeItem.tsx
  components/layout/Sidebar.tsx
  lib/store/chat-store.ts
Due: frontend, backend

feat: 브라우저 사이드바 너비 확대 및 스냅샷 컨텍스트 메뉴 추가
  components/browser/SnapshotsList.tsx
  components/layout/MainLayout.tsx
Due: frontend

docs: 파일 탐색기 새로고침 기능 release notes 추가
  release_notes/v0.6.0_v2.md
Due: none

fix: SlideRenderer에서 undefined slide 처리
  components/presentation/SlideRenderer.tsx
Due: frontend

feat: 사용자 언어에 맞춘 LLM 응답 언어 강제
  lib/presentation/ppt-agent.ts
Due: backend

feat: Browser Chat 메시지 복사 및 Document 저장 기능 추가
  components/chat/unified/UnifiedChatArea.tsx
Due: frontend

feat: Editor Agent에 활성 파일 컨텍스트 추가
  components/editor/EditorChatContainer.tsx
Due: frontend

docs: 활성 파일 컨텍스트 기능 release notes 추가
  release_notes/v0.6.0_v2.md
Due: none

fix: 언어 강제 및 슬라이드 개수 추출 개선
  lib/presentation/ppt-agent.ts
Due: backend

feat: 언어 감지 우선순위 개선 및 유연한 언어 선택
  lib/presentation/ppt-agent.ts
Due: backend

Path conditions:
  frontend: any of: app/, components/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.d.ts, dist/, .next/, node_modules/, scripts/, **/__mocks__/
  backend: any of: lib/, electron/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.d.ts, dist/, .next/, node_modules/, scripts/, **/__mocks__/
