Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

feat: tiktoken 기반 정확한 토큰 계산 구현
  components/chat/LLMStatusBar.tsx
  lib/utils/token-counter.ts
  package.json
  pnpm-lock.yaml
Due: frontend, backend

fix: Browser Agent 동작 가시성 및 Google 검색 안정성 개선
  lib/langgraph/graphs/browser-agent.ts
  lib/mcp/tools/google-search-handlers.ts
Due: backend

fix: 대화 삭제 시 streaming 상태 정리 개선
  lib/store/chat-store.ts
Due: backend

feat: Browser Agent 최종 보고서 기능 추가
  lib/langgraph/graphs/browser-agent.ts
  types/browser-agent.ts
Due: backend

feat: Editor autocomplete에 RAG/Tools 토글 기능 추가
  components/editor/Editor.tsx
  components/layout/SidebarEditor.tsx
  electron/ipc/handlers/llm.ts
  electron/preload.ts
  lib/store/chat-store.ts
  release_notes/v0.6.0_v2.md
  types/electron.d.ts
Due: frontend, backend

fix: MCP 도구 중복 메시지 및 tavily_search 파라미터 에러 수정
  components/chat/InputBox.tsx
  lib/langgraph/graphs/deep-web-research.ts
Due: frontend, backend

fix: tiktoken WebAssembly 지원 및 E2E 테스트 타입 에러 수정
  e2e_tests/helpers/assertions.ts
  next.config.js
Due: none

debug: Editor autocomplete 디버그 로그 추가
  components/editor/Editor.tsx
Due: frontend

fix: Google 검색 타임아웃 에러 복구 로직 개선 및 린트 수정
  components/markdown/MarkdownRenderer.tsx
  e2e_tests/helpers/page-objects/chat-page.ts
  e2e_tests/playwright.config.ts
  e2e_tests/specs/01-app-launch.spec.ts
  e2e_tests/specs/02-chat-session.spec.ts
  e2e_tests/specs/03-settings.spec.ts
  electron/main.ts
  lib/debug.ts
  lib/mcp/tools/google-search-handlers.ts
Due: frontend, backend

chore: 개발 모드에서 DevTools 자동 열기 비활성화
  CLAUDE.md
  lib/debug.ts
  lib/mcp/tools/google-search-handlers.ts
Due: backend

docs: v0.6.0 릴리스 노트에 Google 검색 타임아웃 버그 수정 내용 추가
  release_notes/v0.6.0_v2.md
Due: none

feat: TerminalPanel 탭 UI 디자인 개선
  components/editor/TerminalPanel.tsx
Due: frontend

fix: editor-agent 사용되지 않는 context 파라미터 린트 에러 수정
  lib/langgraph/graphs/editor-agent.ts
Due: backend

fix: tool 실행 후 중복되는 'AI 응답 생성 중' 메시지 제거
  components/chat/InputBox.tsx
  components/rag/DocumentList.tsx
Due: frontend

feat: DocumentTreeNode 타입 추가 및 DocumentMetadata 확장
  lib/vectordb/types.ts
Due: backend

fix: Editor Agent RAG 사용자 설정 존중하도록 수정
  lib/langgraph/graphs/editor-agent.ts
Due: backend

docs: RAG 문서 목록 다중 뷰 모드 및 Tree 구조 지원 추가
  release_notes/v0.6.0.md
Due: none

fix: Stealth 스크립트 중복 실행 및 Google 홈페이지 타임아웃 개선
  electron/ipc/handlers/browser-view.ts
  lib/mcp/tools/google-search-handlers.ts
Due: backend

docs: v0.6.0 릴리스 노트에 Stealth 스크립트 및 타임아웃 개선 내용 추가
  release_notes/v0.6.0_v2.md
Due: none

fix: tool call 파라미터 및 응답 출력의 폰트 크기 축소
  components/markdown/CodeBlock.tsx
Due: frontend

fix: EditorChatArea 및 SimpleChatArea 글자 크기 축소, LLM 기본 설정 최적화
  components/browser/SimpleChatArea.tsx
  components/editor/EditorChatArea.tsx
  components/settings/settingsUtils.ts
  electron/ipc/handlers/config.ts
  lib/config/manager.ts
Due: frontend, backend

feat: Browser Chat UI 텍스트 크기 및 레이아웃 최적화
  components/browser/SimpleChatInput.tsx
Due: frontend

docs: v0.6.0 릴리스 노트에 Browser Chat UI 최적화 내용 추가
  release_notes/v0.6.0_v2.md
Due: none

feat: Editor Agent 파일 작성 기능 개선
  components/editor/EditorChatInput.tsx
  lib/langgraph/graphs/editor-agent.ts
  lib/langgraph/tools/file-tools.ts
  lib/langgraph/tools/git-tools.ts
  lib/langgraph/tools/terminal-tools.ts
Due: frontend, backend

feat: RAG 폴더 관리 및 드래그 앤 드롭 기능 추가
  components/rag/DocumentList.tsx
  components/rag/FolderManageDialog.tsx
  electron/ipc/handlers/vectordb.ts
  electron/preload.ts
  electron/services/vectordb.ts
  lib/vectordb/adapters/sqlite-vec.ts
  lib/vectordb/client.ts
  lib/vectordb/interface.ts
  release_notes/v0.6.0.md
  types/electron.d.ts
Due: frontend, backend

fix: tool result 출력 UX 개선 및 tavily_search 프롬프트 강화
  lib/langgraph/graphs/browser-agent.ts
  lib/langgraph/graphs/chat-agent.ts
  lib/langgraph/graphs/coding-agent.ts
  lib/langgraph/graphs/deep-web-research.ts
Due: backend

feat: Editor Chat 백그라운드 스트리밍 지원
  components/editor/EditorChatArea.tsx
  components/editor/EditorChatInput.tsx
  lib/store/chat-store.ts
Due: frontend, backend

feat: Browser Chat Agent 백그라운드 동작 지원
  components/browser/SimpleChatInput.tsx
  components/rag/DocumentUploader.tsx
Due: frontend

docs: v0.6.0 릴리스 노트에 Browser Chat 백그라운드 동작 지원 추가
  release_notes/v0.6.0_v2.md
Due: none

feat: 문서 업로드/편집 UI에 폴더 경로 지정 기능 추가
  components/rag/DocumentEditDialog.tsx
  components/rag/DocumentUploadDialog.tsx
  release_notes/v0.6.0.md
Due: frontend

fix: Context7 MCP 서버 템플릿 수정
  components/mcp/MCPServerConfig.tsx
Due: frontend

feat: ChatArea에 선택된 텍스트를 RAG 지식으로 저장하는 컨텍스트 메뉴 추가
  components/chat/ChatArea.tsx
  components/chat/SaveTextDialog.tsx
Due: frontend

fix: chat-agent 도구 결과 출력 포맷 개선
  lib/langgraph/graphs/chat-agent.ts
Due: backend

docs: v0.6.0 릴리스 노트에 도구 결과 출력 개선 내용 추가
  release_notes/v0.6.0_v2.md
Due: none

fix: Tool 반복 호출 방지 시스템 구현
  lib/langgraph/graphs/chat-agent.ts
  lib/langgraph/nodes/generate.ts
  release_notes/v0.6.0_v2.md
Due: backend

feat: Editor Chat에 Tool Approval Dialog 추가
  components/layout/SidebarEditor.tsx
Due: frontend

fix: RAG 모드에서 출처 표시가 안 되는 버그 수정
  components/chat/InputBox.tsx
  lib/langgraph/graphs/browser-agent.ts
  release_notes/v0.6.0.md
Due: frontend, backend

fix: Tree of Thought에서 Tools 토글 무시 문제 수정
  lib/langgraph/nodes/generate.ts
  release_notes/v0.6.0_v2.md
Due: backend

fix: Editor Agent 중단 기능 개선
  lib/langgraph/graphs/deep-web-research.ts
  lib/langgraph/graphs/editor-agent.ts
Due: backend

fix: Deep Web Research 그래프 개선
  lib/langgraph/graphs/deep-web-research.ts
Due: backend

Path conditions:
  frontend: any of: app/, components/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.d.ts, dist/, .next/, node_modules/, scripts/, **/__mocks__/
  backend: any of: lib/, electron/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.d.ts, dist/, .next/, node_modules/, scripts/, **/__mocks__/
