Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix: 클립보드 이미지 붙여넣기 동작 개선
  components/editor/Editor.tsx
  lib/mcp/tools/builtin-tools.ts
  lib/mcp/tools/google-search-handlers.ts
  lib/mcp/tools/google-search-tools.ts
Due: frontend, backend

feat: Browser Agent에 Google Search 도구 추가 (9개)
  lib/langgraph/graphs/browser-agent.ts
  lib/mcp/tools/builtin-tools.ts
  lib/mcp/tools/google-search-handlers.ts
Due: backend

docs: Google Search 도구 추가 내역을 릴리스 노트에 반영
  release_notes/v0.6.0_v2.md
Due: none

feat: 대화 압축 및 우클릭 컨텍스트 메뉴 추가
  components/chat/CompressConversationDialog.tsx
  components/layout/ChatHistory.tsx
  electron/ipc/handlers/chat.ts
  electron/preload.ts
  electron/services/database.ts
  types/electron.d.ts
Due: frontend, backend

fix: BrowserView console 메시지 로그 레벨 개선
  electron/ipc/handlers/browser-view.ts
Due: backend

fix: Browser Agent 치명적 버그 수정 (타입 오류, XSS, 중복 도구)
  electron/ipc/handlers/browser-control.ts
  lib/langgraph/graphs/browser-agent.ts
  lib/mcp/tools/builtin-tools.ts
Due: backend

feat: RAG 통합 - 모든 Thinking 그래프에 문서 참조 기능 추가
  lib/langgraph/graphs/chat-agent.ts
  lib/langgraph/graphs/deep-thinking.ts
  lib/langgraph/graphs/sequential-thinking.ts
  lib/langgraph/graphs/tree-of-thought.ts
Due: backend

feat: Coding Agent MCP 도구 지원 및 결과 처리 개선
  lib/langgraph/graphs/coding-agent.ts
  lib/langgraph/nodes/generate.ts
Due: backend

feat: MCP 서버 프리셋 확장 (5개 추가)
  components/mcp/MCPServerConfig.tsx
Due: frontend

feat: Browser Agent 실행 로그 UI 추가
  components/layout/SidebarBrowser.tsx
  lib/store/chat-store.ts
Due: frontend, backend

tailvy 지원
  components/mcp/MCPServerConfig.tsx
Due: frontend

agent 동작 개선
  lib/langgraph/graphs/browser-agent.ts
  lib/langgraph/graphs/chat-agent.ts
  lib/langgraph/graphs/coding-agent.ts
  lib/langgraph/graphs/deep-thinking.ts
  lib/langgraph/graphs/editor-agent-advanced.ts
  lib/langgraph/graphs/editor-agent.ts
  lib/langgraph/graphs/sequential-thinking.ts
  lib/langgraph/graphs/tree-of-thought.ts
Due: backend

bugfix
  lib/langgraph/graphs/chat-agent.ts
Due: backend

bugfix
  components/chat/InputBox.tsx
  lib/langgraph/graphs/chat-agent.ts
  lib/langgraph/graphs/coding-agent.ts
Due: frontend, backend

update
  lib/langgraph/graphs/deep-thinking.ts
  lib/langgraph/graphs/sequential-thinking.ts
  lib/langgraph/graphs/tree-of-thought.ts
  lib/mcp/tools/builtin-tools.ts
Due: backend

fix: LangGraph 그래프 타입 에러 수정
  lib/langgraph/graphs/deep-thinking.ts
  lib/langgraph/graphs/sequential-thinking.ts
  lib/langgraph/graphs/tree-of-thought.ts
Due: backend

docs: v0.6.0 릴리스 노트에 LangGraph 타입 에러 수정 내용 추가
  release_notes/v0.6.0.md
Due: none

refactor: Editor 모드 "문서 관리" 아이콘 위치 변경
  components/browser/BrowserChat.tsx
  components/layout/Sidebar.tsx
  components/layout/SidebarBrowser.tsx
  components/layout/SidebarEditor.tsx
Due: frontend

refactor: BrowserChat을 별도 컴포넌트로 분리
  components/layout/Sidebar.tsx
Due: frontend

fix: coding-agent 도구 실행 결과 중복 표시 제거
  components/chat/ChatArea.tsx
  components/chat/InputBox.tsx
Due: frontend

feat: Codecov 통합 개선 및 README 업데이트
  .github/workflows/ci.yml
  README.md
  codecov.yml
  components/settings/BrowserSettingsTab.tsx
  components/settings/EditorSettingsTab.tsx
  components/settings/SettingsDialog.tsx
  components/settings/SettingsSidebar.tsx
Due: frontend

fix: README.md Codecov 배지에 실제 토큰 적용
  README.md
Due: none

fix: Builtin tool 실행 에러 처리 개선
  lib/langgraph/nodes/tools.ts
Due: backend

fix: Browser Agent가 새 탭 생성 시 자동으로 전환하도록 수정
  electron/ipc/handlers/browser-view.ts
Due: backend

feat: BrowserToolsList에 Google Search 도구 섹션 추가
  components/browser/BrowserToolsList.tsx
Due: frontend

refactor: 사용되지 않는 ChatChatArea 컴포넌트 제거
  components/chat/ChatChatArea.tsx
  components/layout/SidebarChat.tsx
  lib/store/chat-store.ts
  tests/frontend/components/chat/ChatChatArea.test.tsx
Due: frontend, backend

feat: Editor Agent Tool Registry 시스템 구축 (Phase 1)
  .claude/editor-agent-implementation-plan.md
  components/editor/EditorChatArea.tsx
  components/editor/EditorToolsList.tsx
  lib/langgraph/tools/editor-tools-registry.ts
  lib/langgraph/tools/index.ts
Due: frontend, backend

feat: Google CAPTCHA 및 Bot 감지 우회 기능 추가
  lib/langgraph/graphs/editor-agent.ts
  lib/langgraph/tools/file-tools.ts
  lib/langgraph/tools/index.ts
Due: backend

docs: Google CAPTCHA 우회 기능 릴리스 노트 업데이트
  electron/ipc/handlers/browser-view.ts
  lib/langgraph/graphs/coding-agent.ts
  lib/langgraph/graphs/deep-web-research.ts
  lib/langgraph/index.ts
  lib/langgraph/state.ts
  lib/langgraph/types.ts
  lib/mcp/tools/google-search-handlers.ts
  release_notes/v0.6.0_v2.md
Due: backend

feat: Phase 3 완료 - Editor Agent 탭 관리 Tools 구현
  lib/langgraph/graphs/editor-agent.ts
  lib/langgraph/tools/index.ts
  lib/langgraph/tools/tab-tools.ts
Due: backend

feat: 테마 설정 SQLite 저장으로 앱 재시작 후에도 유지
  app/layout.tsx
  components/providers/theme-persistence-provider.tsx
  hooks/use-theme-persistence.ts
  types/index.ts
Due: frontend

fix: Google 검색 ERR_ABORTED 에러 수정 및 차단 방지 강화
  electron/ipc/handlers/browser-view.ts
  lib/mcp/tools/google-search-handlers.ts
Due: backend

docs: Bot 감지 우회 기능 상세 설명 업데이트
  release_notes/v0.6.0_v2.md
Due: none

feat: Phase 4 완료 - Editor Agent 터미널 & Git Tools 구현
  lib/langgraph/graphs/editor-agent.ts
  lib/langgraph/tools/git-tools.ts
  lib/langgraph/tools/index.ts
  lib/langgraph/tools/terminal-tools.ts
Due: backend

feat: E2E 테스트 인프라 구축 (Phase 1-2 완료)
  REFACTOR_PLAN.md
  components/ui/dropdown-menu.tsx
  e2e_tests/.gitignore
  e2e_tests/README.md
  e2e_tests/helpers/app-launcher.ts
  e2e_tests/helpers/assertions.ts
  e2e_tests/helpers/index.ts
  e2e_tests/helpers/page-objects/base-page.ts
  e2e_tests/helpers/page-objects/chat-page.ts
  e2e_tests/helpers/page-objects/index.ts
  e2e_tests/helpers/page-objects/settings-page.ts
  e2e_tests/helpers/test-data.ts
  e2e_tests/playwright.config.ts
  e2e_tests/tsconfig.json
  lib/langgraph/graphs/coding-agent.ts
  lib/langgraph/graphs/editor-agent.ts
  lib/langgraph/state.ts
  lib/langgraph/tools/code-tools.ts
  lib/langgraph/tools/file-tools.ts
  lib/langgraph/tools/index.ts
  package.json
  pnpm-lock.yaml
  tests/browser-agent-smoke.md
  tsconfig.json
Due: frontend, backend

refactor: Editor Agent placeholder 함수 제거
  lib/langgraph/graphs/editor-agent.ts
Due: backend

feat: E2E 테스트 시나리오 작성 (Phase 3 완료)
  e2e_tests/fixtures/sample-chat.json
  e2e_tests/fixtures/sample-config.json
  e2e_tests/fixtures/sample-documents/test-document.md
  e2e_tests/fixtures/sample-mcp-servers.json
  e2e_tests/specs/01-app-launch.spec.ts
  e2e_tests/specs/02-chat-session.spec.ts
  e2e_tests/specs/03-settings.spec.ts
Due: none

fix: deep-web-research.ts 문법 에러 및 lint 문제 수정
  lib/langgraph/graphs/deep-web-research.ts
Due: backend

fix: 타입 에러 및 린트 문제 수정
  components/ui/dropdown-menu.tsx
  lib/langgraph/graphs/deep-thinking.ts
  lib/langgraph/graphs/deep-web-research.ts
  lib/langgraph/graphs/sequential-thinking.ts
  lib/langgraph/graphs/tree-of-thought.ts
  lib/langgraph/state.ts
  lib/langgraph/tools/code-tools.ts
  lib/langgraph/tools/git-tools.ts
  lib/langgraph/tools/tab-tools.ts
  lib/langgraph/tools/terminal-tools.ts
  types/electron.d.ts
Due: frontend, backend

feat: Editor autocomplete 비동기 처리 최적화
  components/editor/Editor.tsx
  release_notes/v0.6.0_v2.md
Due: frontend

Path conditions:
  frontend: any of: app/, components/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.d.ts, dist/, .next/, node_modules/, scripts/, **/__mocks__/
  backend: any of: lib/, electron/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.d.ts, dist/, .next/, node_modules/, scripts/, **/__mocks__/
