Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

docs: 프로젝트 전체 기능을 문서화한 FEATURES.md 추가
  FEATURES.md
  release_notes/v0.6.0.md
Due: none

docs: FEATURES.md 기반 GitHub Pages (docs/) 업데이트
  docs/README.md
  docs/index.html
Due: none

feat: 의존성 분석, 성능 측정, 시각적 회귀 테스트 추가
  .dependency-cruiser.js
  .github/workflows/ci.yml
  .gitignore
  backstop.json
  lighthouserc.json
  package.json
  pnpm-lock.yaml
Due: none

chore: Pre-commit hook 설정으로 코드 품질 자동 검증 추가
  .husky/pre-commit
  components/auth/AccountProfile.tsx
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: frontend

fix: Snyk에 --all-projects 플래그 추가 (pnpm workspace 지원)
  .github/workflows/security-scan.yml
Due: none

chore: Prettier 포맷팅 적용하여 CI 통과 준비
  .dependency-cruiser.js
  FEATURES.md
  docs/README.md
Due: none

fix: GitHub Actions release 워크플로우 GPG 서명 단계 제거
  .github/workflows/release.yml
Due: none

fix: Dependabot 설정 - tmp 패키지 무시 추가
  .github/dependabot.yml
Due: none

docs: v0.6.0 릴리스 노트 업데이트
  release_notes/v0.6.0.md
Due: none

fix: Jest coverage threshold를 현재 실제 coverage에 맞춰 조정
  jest.config.js
Due: none

docs: v0.6.0 릴리즈 노트에 Jest coverage threshold 조정 내용 추가
  release_notes/v0.6.0.md
Due: none

fix: CI 빌드 실패 문제 해결
  next.config.js
  package.json
  pnpm-lock.yaml
Due: none

docs: v0.6.0 릴리즈 노트에 CI 빌드 실패 해결 내용 추가
  release_notes/v0.6.0.md
Due: none

feat: GitHub Actions 및 CI/CD 보안 강화
  .github/CODEOWNERS
  .github/SECURITY_AUDIT_REPORT.md
  .github/SECURITY_GUIDELINES.md
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/security-hardening.yml
  SECURITY.md
Due: none

fix: GitHub Actions 워크플로우 오류 수정
  .github/labeler.yml
  .github/workflows/greetings.yml
  .github/workflows/security-hardening.yml
Due: none

fix: SBOM 생성 워크플로우 수정 - pnpm 호환성 개선
  .github/workflows/security-hardening.yml
Due: none

fix: LLM 설정 V2 저장 문제 해결
  components/settings/SettingsDialog.tsx
  release_notes/v0.6.0.md
Due: frontend

fix: Editor Chat 스트리밍 응답 개선
  components/editor/EditorChatArea.tsx
  components/editor/EditorChatInput.tsx
  release_notes/v0.6.0.md
Due: frontend

feat: File Explorer UI/UX 대폭 개선 (VSCode 스타일)
  components/layout/FileExplorer.tsx
  components/layout/FileTreeItem.tsx
  release_notes/v0.6.0.md
Due: frontend

fix: Autocomplete 적용 문제 해결 - V2 config 변환 추가
  electron/ipc/handlers/llm.ts
  release_notes/v0.6.0.md
Due: backend

fix: InputBox에서 V2 config 로드 시 V1 변환 추가
  components/chat/InputBox.tsx
  release_notes/v0.6.0.md
Due: frontend

fix: MarkdownRenderer URI malformed 에러 수정
  components/markdown/MarkdownRenderer.tsx
  release_notes/v0.6.0.md
Due: frontend

fix: CustomLink URL 처리 강화 - 다층 방어 전략
  components/markdown/MarkdownRenderer.tsx
Due: frontend

fix: 마크다운 전처리 추가 - URI 파싱 에러 근본 해결
  components/markdown/MarkdownRenderer.tsx
  release_notes/v0.6.0.md
Due: frontend

fix: decodeURIComponent 에러 해결 - percent encoding 수정
  components/markdown/MarkdownRenderer.tsx
Due: frontend

fix: URI malformed 에러 근본 해결 - markdown-to-jsx 버그 우회
  components/markdown/MarkdownRenderer.tsx
  release_notes/v0.6.0.md
Due: frontend

feat: Editor Agent RAG 통합 및 SidebarEditor UI 개선
  components/layout/Sidebar.tsx
  components/layout/SidebarEditor.tsx
  lib/langgraph/graphs/editor-agent.ts
Due: frontend, backend

refactor: Editor 모드 UI 아이콘 통합 및 중복 제거
  components/layout/Sidebar.tsx
  components/layout/SidebarEditor.tsx
Due: frontend

fix: IPC 이벤트 리스너 메모리 누수 및 크로스토크 문제 해결
  electron/preload.ts
Due: backend

feat: FileExplorer 클립보드 기능 구현 (복사/잘라내기/붙여넣기)
  .claude/file-explorer-context-menu-improvement-plan.md
  components/browser/BrowserSettingDialog.tsx
  components/layout/FileExplorer.tsx
  components/layout/FileTreeContextMenu.tsx
  components/layout/FileTreeItem.tsx
  electron/ipc/handlers/file.ts
  electron/preload.ts
  hooks/use-file-clipboard.ts
  lib/store/chat-store.ts
  tests/frontend/components/browser/BrowserSettingDialog.test.tsx
  types/electron.d.ts
Due: frontend, backend

feat: VectorDB 문서 일괄 Export/Import 기능 추가
  components/rag/DocumentList.tsx
  electron/ipc/handlers/vectordb.ts
  lib/vectordb/client.ts
  lib/vectordb/types.ts
  release_notes/v0.6.0.md
Due: frontend, backend

feat: VSCode 스타일 Settings JSON 편집 모드 추가
  components/layout/FileTreeContextMenu.tsx
  components/layout/FileTreeItem.tsx
  components/settings/SettingsDialog.tsx
  components/settings/SettingsJsonEditor.tsx
  electron/ipc/handlers/file.ts
  electron/preload.ts
  types/electron.d.ts
Due: frontend, backend

feat: RAG 문서 편집에 AI 기반 작업 추가
  components/rag/DocumentEditDialog.tsx
  components/rag/DocumentUploader.tsx
  components/rag/RefinementPromptDialog.tsx
Due: frontend

fix: Mermaid 다이어그램 자동 보정 실패 시 텍스트 fallback 추가
  components/markdown/MermaidDiagram.tsx
Due: frontend

fix: 새 파일/폴더 생성 Dialog 너비 제한 (max-w-md)
  components/layout/FileExplorer.tsx
Due: frontend

feat: Markdown editor에 클립보드 이미지 붙여넣기 기능 추가
  components/chat/SaveKnowledgeDialog.tsx
  components/editor/Editor.tsx
  components/layout/ChatHistory.tsx
  electron/ipc/handlers/file.ts
  electron/preload.ts
  types/electron.d.ts
Due: frontend, backend

fix: Browser 모드에서 설정/도구 뷰 시 BrowserView 유지
  components/layout/MainLayout.tsx
Due: frontend

feat: 대화 복제 기능 추가
  components/layout/ChatHistory.tsx
  lib/store/chat-store.ts
Due: frontend, backend

fix: RAG 검색 최적화를 위한 지식 저장 형식 개선
  components/chat/SaveKnowledgeDialog.tsx
Due: frontend

feat: Google 검색 특화 빌트인 도구 타입 정의 추가
  types/browser-agent.ts
Due: none

Path conditions:
  frontend: any of: app/, components/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.d.ts, dist/, .next/, node_modules/, scripts/, **/__mocks__/
  backend: any of: lib/, electron/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.d.ts, dist/, .next/, node_modules/, scripts/, **/__mocks__/
