Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, bundle-analysis

fix: electron/preload.ts executeScript 중복 속성 제거
  electron/preload.ts
Due: backend

update
  lib/langgraph/graphs/coding-agent.ts
  lib/langgraph/graphs/editor-agent-advanced.ts
  lib/langgraph/graphs/editor-agent.ts
  lib/langgraph/index.ts
  lib/langgraph/state.ts
  lib/langgraph/tools/editor-actions.ts
  lib/langgraph/tools/editor-tools-registry.ts
  lib/langgraph/tools/index.ts
  lib/langgraph/types.ts
  lib/mcp/tools/builtin-tools.ts
  lib/store/chat-store.ts
Due: backend

fix: TypeScript 타입 에러 수정 및 v0.6.20 릴리스
  components/editor/EditorToolsList.tsx
  components/layout/WikiTree.tsx
  eslint.config.js
  lib/store/chat-store.ts
  package.json
  release_notes/v0.6.20.md
Due: frontend, backend

chore: Prettier 포맷팅 수정
  electron/ipc/handlers/file.ts
Due: backend

chore: remove system proxy handling and env overrides
  components/settings/LLMSettingsTab.tsx
  components/settings/NetworkSettingsTab.tsx
  components/settings/settingsUtils.ts
  electron/ipc/handlers/config.ts
  electron/ipc/handlers/llm.ts
  electron/main.ts
  lib/http/agent-factory.ts
  lib/http/config.ts
  lib/http/fetch.ts
  tests/frontend/components/settings/NetworkSettingsTab.test.tsx
  types/index.ts
Due: frontend, backend

chore: remove stray jest frontend coverage
  .gitignore
  jest-frontend.json
Due: none

chore: i18n 다국어 번역 및 컴포넌트 업데이트
  components/browser/BrowserPanel.tsx
  components/browser/BrowserSettings.tsx
  components/browser/SimpleChatArea.tsx
  components/chat/ChatArea.tsx
  components/chat/ChatContainer.tsx
  components/chat/InputBox.tsx
  components/chat/LLMStatusBar.tsx
  components/chat/unified/plugins/PersonaPlugin.tsx
  components/editor/EditorSettings.tsx
  components/editor/EditorToolsList.tsx
  components/layout/ChatHistory.tsx
  components/layout/SidebarBrowser.tsx
  components/persona/PersonaDialog.tsx
  components/settings/SettingsDialog.tsx
  locales/en.json
  locales/ko.json
  locales/zh.json
Due: frontend

chore: node-pty를 optional dependency로 변경
  package.json
  pnpm-lock.yaml
Due: none

docs: 터미널 기능 설치 가이드 추가
  README.md
Due: none

refactor: electron 서비스 로깅 및 헬스체크 개선
  electron/services/health-check.ts
  electron/services/logger.ts
Due: backend

test: llm-interaction 테스트 개선
  electron/tests/suites/llm-interaction.ts
Due: backend

fix: useConfigLoader 훅 개선
  components/chat/unified/hooks/useConfigLoader.ts
Due: frontend

feat: chat-store 새로운 기능 추가
  lib/store/chat-store.ts
Due: backend

feat: 에디터 및 UI 기능 개선, 다국어 지원 추가
  components/ConversationReportDialog.tsx
  components/chat/unified/UnifiedChatArea.tsx
  components/editor/Editor.tsx
  components/editor/EditorRuler.tsx
  components/editor/EditorSettings.tsx
  components/editor/SingleFileEditor.tsx
  components/layout/FileExplorer.tsx
  components/layout/FileTreeItem.tsx
  components/layout/SidebarEditor.tsx
  components/ui/overflow-toolbar.tsx
  hooks/use-resize-observer.ts
  lib/store/chat-store.ts
  locales/en.json
  locales/ko.json
  locales/zh.json
  types/editor-settings.ts
Due: frontend, backend

refactor: DocumentsPage를 components/rag로 이동
  components/layout/MainLayout.tsx
  components/rag/DocumentsPage.tsx
  extensions/browser/types/browser-control.ts
  extensions/browser/types/errors.ts
  extensions/browser/types/google-search.ts
  extensions/browser/types/index.ts
  extensions/browser/types/vision.ts
  extensions/browser/types/workflow.ts
  extensions/editor/types/editor-settings.ts
Due: frontend

docs: v0.7.0 릴리스 노트에 DocumentsPage 이동 내용 추가
  release_notes/v0.7.0.md
Due: none

refactor: Settings 탭 컴포넌트 Extension으로 분리
  components/settings/SettingsDialog.tsx
  extensions/browser/components/BrowserSettingsTab.tsx
  extensions/browser/index.ts
  extensions/editor/components/EditorSettingsTab.tsx
  extensions/editor/index.ts
  lib/extensions/loader-main.ts
Due: frontend, backend

fix: Electron tsconfig 수정으로 Extension IPC handler 빌드 문제 해결
  electron/tsconfig.json
  extensions/presentation/index.ts
Due: backend

feat: Extension 활성화 기반 Settings 탭 동적 렌더링
  components/layout/Sidebar.tsx
  components/layout/SidebarChat.tsx
  components/settings/BetaSettingsTab.tsx
  components/settings/SettingsDialog.tsx
  components/settings/SettingsSidebar.tsx
  extensions/browser/components/SidebarBrowser.tsx
  extensions/editor/components/SidebarEditor.tsx
  lib/extensions/use-extensions.ts
Due: frontend, backend

feat: Extension 기반 동적 Settings 시스템 구현
  build-output.txt
  components/settings/SettingsDialog.tsx
  components/settings/SettingsSidebar.tsx
  extensions/browser/manifest.ts
  extensions/editor/manifest.ts
  lib/extensions/loader.ts
  lib/extensions/types.ts
  type-check-settings.txt
Due: frontend, backend

fix: settings.editor 및 settings.browser 다국어 키 추가
  locales/en.json
  locales/ko.json
  locales/zh.json
Due: none

fix: Extension 초기화를 위한 ExtensionProvider 추가
  app/layout.tsx
  components/providers/extension-provider.tsx
Due: frontend

fix: Extension Settings UI 다국어 키 추가
  locales/en.json
  locales/ko.json
  locales/zh.json
  scripts/add-extension-locale-keys.js
Due: none

fix: browser.sidebar tooltip 다국어 키 추가
  extensions/browser/manifest.ts
  locales/en.json
  locales/ko.json
  locales/zh.json
  scripts/add-extension-locale-keys.js
Due: none

feat: browser.emptyState 다국어 키 추가
  locales/en.json
  locales/ko.json
  locales/zh.json
  scripts/add-extension-locale-keys.js
Due: none

feat: Browser 빈 상태 메시지에 다국어 지원 적용
  components/chat/unified/UnifiedChatArea.tsx
Due: frontend

chore: v0.7.1 버전 업데이트
  package.json
Due: none

feat: 다국어 지원 개선 및 언어 변경 처리 강화
  app/quick-input/layout.tsx
  components/settings/SettingsDialog.tsx
  extensions/browser/locales/en.json
  extensions/browser/locales/ko.json
  extensions/browser/locales/zh.json
  extensions/editor/components/EditorHeaderActions.tsx
  extensions/editor/locales/en.json
  extensions/editor/locales/ko.json
  extensions/editor/locales/zh.json
Due: frontend

refactor: Sidebar Extension 버튼 제거 및 Beta 설정 개선
  components/layout/Sidebar.tsx
  components/layout/SidebarChat.tsx
  extensions/browser/components/SidebarBrowser.tsx
  extensions/editor/components/SidebarEditor.tsx
  extensions/editor/manifest.ts
Due: frontend

feat: LLM 연결 API 키 검증 완화
  components/settings/ConnectionManager.tsx
Due: frontend

feat: Presentation 디자인 옵션 UI 개선
  extensions/presentation/components/DesignOptionsPreview.tsx
  extensions/presentation/components/PresentationChat.tsx
  extensions/presentation/components/PresentationStudio.tsx
  extensions/presentation/components/SlidePreview.tsx
  extensions/presentation/lib/ppt-agent.ts
Due: none

docs: README 및 릴리즈 노트 업데이트
  README.md
  release_notes/v0.7.0.md
Due: none

feat: 이미지 첨부 플러그인 다국어 지원 추가
  components/chat/unified/plugins/ImageAttachmentPlugin.tsx
Due: frontend

refactor: MCP 서버 설정 UI 개선
  components/mcp/MCPServerConfig.tsx
Due: frontend

feat: RAG 문서 동기화 설정 UX 개선
  components/rag/DocsSyncDialog.tsx
  components/rag/DocumentList.tsx
Due: frontend

feat: VectorDB 설정에서 네트워크 구성 지원 추가
  components/rag/VectorDBSettings.tsx
Due: frontend

fix: GitHub 동기화 루트 경로 처리 개선
  lib/github/client.ts
Due: backend

docs: v0.7.1 업데이트 및 주요 기능 개선 사항 반영
  docs/index.html
Due: none

Path conditions:
  frontend: any of: app/, components/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, node_modules/, scripts/, **/__mocks__/, **/*.config.js, **/*.config.ts
  backend: any of: lib/, electron/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, node_modules/, scripts/, **/__mocks__/, **/*.config.js, **/*.config.ts
  bundle-analysis: any of: .next/analyze/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, node_modules/, scripts/, **/__mocks__/, **/*.config.js, **/*.config.ts
