Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, bundle-analysis, Chat System, LangGraph Agent, MCP Integration, RAG System, Electron IPC, Settings

Path conditions:
  frontend: any of: app/, components/, types/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  backend: any of: lib/, electron/, types/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  bundle-analysis: any of: .next/analyze/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  Chat System: any of: components/chat/**, app/(chat)/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  LangGraph Agent: any of: lib/langgraph/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  MCP Integration: any of: lib/mcp/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  RAG System: any of: lib/rag/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  Electron IPC: any of: electron/ipc/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  Settings: any of: components/settings/**, app/settings/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js

refactor: OpenAI provider 중복 코드 제거
  lib/llm/providers/openai.ts
Due: backend

refactor: BrowserChatContainer 스트리밍 cleanup 로직 개선
  extensions/browser/components/BrowserChatContainer.tsx
Due: none

test: 복잡한 컴포넌트 테스트들 일시적으로 skip
  tests/frontend/components/layout/FileExplorer.test.tsx
  tests/frontend/components/mcp/MCPServerConfig.test.tsx
  tests/frontend/components/mcp/MCPServerList.test.tsx
  tests/frontend/components/rag/VectorDBSettings.test.tsx
  tests/frontend/components/settings/BackupRestoreSettings.test.tsx
  tests/frontend/components/settings/SettingsDialog.test.tsx
Due: none

docs: Extension Development skill 추가
  .claude/skills/extension-development/SKILL.md
  CLAUDE.md
Due: none

feat(ci): 자동 버그 탐색 워크플로우에 PR 생성 기능 추가
  .github/workflows/automated-bug-hunt.yml
Due: none

fix: MCP content에서 알 수 없는 타입 처리 개선
  lib/langgraph/nodes/tools.ts
Due: backend, LangGraph Agent

feat: Browser Agent에 Perplexity 모드 추가
  extensions/browser/agents/browser-agent.ts
Due: none

docs: README에 Perplexity 모드 문서화
  extensions/browser/README.md
Due: none

feat: replace_selection 도구 완전 구현 - Claude Desktop 동등 달성
  lib/llm/service.ts
  lib/store/chat-store.ts
  lib/utils/error-handler.ts
Due: backend

feat: Editor Agent Cursor/Cline 수준 고도화 (v0.7.5)
  extensions/editor/agents/editor-agent-advanced.ts
  extensions/editor/components/EditorChatInput.tsx
  lib/langgraph/index.ts
  release_notes/v0.7.5.md
Due: backend, LangGraph Agent

fix: Extension 상태 실시간 업데이트 문제 해결
  lib/extensions/registry.ts
  lib/extensions/use-extensions.ts
Due: backend

refactor: 중복 코드 제거 - IPC handler 및 Editor tools
  electron/ipc/handlers/github-sync.ts
  extensions/editor/tools/file-tools.ts
Due: backend, Electron IPC

docs: GEMINI.md 및 AGENT.md 문서 작성
  AGENT.md
  GEMINI.md
Due: none

feat: google_visit_result 탭 기반 + Perplexity-level 속도 최적화
  electron/ipc/handlers/browser-view.ts
  lib/mcp/tools/google-search-handlers.ts
Due: backend, MCP Integration, Electron IPC

feat: Editor Agent Planning & Verification 완전 구현 (v0.7.5 최종)
  extensions/editor/agents/editor-agent-advanced.ts
  extensions/editor/components/EditorChatInput.tsx
  release_notes/v0.7.5.md
Due: none

security: 포괄적인 보안 강화 구현
  electron/ipc/handlers/mcp.ts
  lib/mcp/server-manager.ts
  lib/mcp/tools/builtin-tools.ts
Due: backend, MCP Integration, Electron IPC

refactor: components 보안 및 안정성 대규모 개선
  app/layout.tsx
  components/ErrorBoundary.tsx
  components/chat/ChatArea.tsx
  components/chat/ChatContainer.tsx
  components/chat/unified/UnifiedChatArea.tsx
  components/markdown/MarkdownRenderer.tsx
  components/markdown/MermaidDiagram.tsx
  components/persona/PersonaDialog.tsx
  components/settings/ConnectionManager.tsx
  components/settings/QuickInputSettingsTab.tsx
  extensions/browser/components/BrowserChatContainer.tsx
  extensions/editor/components/EditorChatContainer.tsx
  package.json
  pnpm-lock.yaml
  release_notes/v0.7.5.md
Due: frontend, Chat System, Settings

feat: 백그라운드 스트리밍 완료 알림 기능 추가
  app/page.tsx
  components/chat/unified/hooks/useMessageStreaming.ts
  electron/ipc/handlers/notification.ts
  electron/ipc/index.ts
  electron/main.ts
  electron/preload.ts
  lib/store/chat-store.ts
  types/electron.d.ts
Due: frontend, backend, Chat System, Electron IPC

docs: v0.7.4 릴리스 노트에 백그라운드 알림 기능 추가
  extensions/browser/README.md
  extensions/browser/components/BrowserChatContainer.tsx
  extensions/browser/components/SimpleChatInput.tsx
  extensions/editor/components/SingleFileEditor.tsx
  extensions/terminal/index.ts
  extensions/terminal/manifest.ts
  extensions/terminal/store/index.ts
  extensions/terminal/types/index.ts
  lib/extensions/loader.ts
  lib/hooks/useLangGraphStream.ts
  lib/store/extension-slices.ts
  locales/ko.json
  release_notes/v0.7.4.md
  tests/frontend/components/layout/FileExplorer.test.tsx
  tests/frontend/components/mcp/MCPServerConfig.test.tsx
  tests/frontend/components/mcp/MCPServerList.test.tsx
  tests/frontend/components/rag/VectorDBSettings.test.tsx
  tests/frontend/components/settings/BackupRestoreSettings.test.tsx
  tests/frontend/components/settings/SettingsDialog.test.tsx
  tests/setup.ts
Due: backend

fix: Browser Extension 타입 오류 수정
  extensions/browser/components/BrowserChatContainer.tsx
Due: none

docs: 개발자 온보딩을 위한 아키텍처 문서 추가
  docs/dev.html
Due: none

refactor: useLangGraphStream hook 통합 및 확장
  .cursorrules
  extensions/browser/components/SimpleChatInput.tsx
  extensions/editor/components/EditorChatContainer.tsx
  lib/hooks/useLangGraphStream.ts
  lib/mcp/tools/builtin-tools.ts
Due: backend, MCP Integration

feat: Working Directory 경고 및 터미널 도구 추가
  components/chat/WorkingDirectoryIndicator.tsx
  extensions/terminal/tools/explain_error.ts
  extensions/terminal/tools/get_history.ts
  extensions/terminal/tools/run_command.ts
  extensions/terminal/tools/search_commands.ts
  lib/langgraph/prompts/coding-agent-system.ts
Due: frontend, backend, Chat System, LangGraph Agent

docs: Extension Chat 컴포넌트 리팩토링 내용 추가
  release_notes/v0.7.4.md
Due: none

docs: v0.7.5 릴리스 노트에 Working Directory 경고 및 터미널 도구 추가
  release_notes/v0.7.5.md
Due: none

docs: v0.7.4 릴리스 노트에 Browser Extension 성능 개선 추가
  release_notes/v0.7.4.md
Due: none

docs: Cursor AI 에디터 설정 및 워크플로우 추가
  .cursor/README.md
  .cursor/prompts/code-review.md
  .cursor/prompts/create-agent.md
  .cursor/prompts/create-component.md
  .github/workflows/auto-update-docs.yml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  extensions/editor/agents/editor-agent-advanced.ts
  extensions/terminal/agents/terminal-agent.ts
  lib/langgraph/index.ts
  lib/langgraph/types.ts
Due: backend, LangGraph Agent

refactor: ChatArea 타입 안정성 개선
  components/chat/ChatArea.tsx
Due: frontend, Chat System

refactor: ChatArea 타입 안전성 개선
  extensions/terminal/agents/terminal-agent.ts
Due: none

fix: 알림 클릭 시 Chat 모드 전환 및 대화 표시 개선
  app/page.tsx
  extensions/editor/agents/editor-agent-advanced.ts
Due: frontend

docs: v0.7.6 릴리스 노트 추가 - Editor Agent Planning/Verification 실제 실행
  release_notes/v0.7.6.md
Due: none

refactor: 타입 안전성 및 React 성능 최적화
  components/chat/ChatArea.tsx
  components/chat/unified/UnifiedChatArea.tsx
  components/chat/unified/UnifiedChatInput.tsx
  components/markdown/MarkdownRenderer.tsx
  extensions/editor/components/EditorChatContainer.tsx
  types/electron.d.ts
  types/index.ts
Due: frontend, backend, Chat System

feat(terminal): Phase 3 완료 - Warp 스타일 블록 기반 UI 구현
  extensions/terminal/components/AICommandInput.tsx
  extensions/terminal/components/BlockHistoryPanel.tsx
  extensions/terminal/components/SidebarTerminal.tsx
  extensions/terminal/components/TerminalBlock.tsx
  extensions/terminal/components/TerminalPanel.tsx
  extensions/terminal/components/TerminalSettings.tsx
  extensions/terminal/index.ts
  lib/extensions/loader.ts
  package.json
  pnpm-lock.yaml
  types/electron.d.ts
Due: backend

feat(terminal): Phase 4 완료 - Store 액션 및 Persistent Storage 구현
  extensions/terminal/components/TerminalPanel.tsx
  extensions/terminal/components/TerminalSettings.tsx
  extensions/terminal/store/index.ts
  extensions/terminal/store/storage.ts
  extensions/terminal/types/index.ts
Due: none

fix: 알림 제목을 대화 제목으로 표시
  components/chat/unified/hooks/useMessageStreaming.ts
Due: frontend, Chat System

feat(terminal): Phase 4 완료 - VectorDB 인덱싱 구현
  extensions/presentation/components/PresentationSettingsTab.tsx
  extensions/presentation/components/index.ts
  extensions/presentation/index.ts
  extensions/presentation/manifest.ts
  extensions/terminal/store/index.ts
  extensions/terminal/store/vectordb.ts
  lib/extensions/loader.ts
Due: backend

feat(terminal): Phase 5 완료 - RAG 기반 명령어 검색 구현
  extensions/editor/components/EditorChatContainer.tsx
  extensions/terminal/tools/search_commands.ts
  lib/mcp/client.ts
  lib/mcp/types.ts
Due: backend, MCP Integration

fix: Mermaid 렌더링 문제 해결
  docs/dev.html
Due: none

feat: 알림에 앱 아이콘 추가
  electron/ipc/handlers/notification.ts
Due: backend, Electron IPC

refactor: Custom Headers 관리 UI 공통 컴포넌트 추출
  components/settings/ConnectionManager.tsx
  components/settings/CustomHeadersManager.tsx
  extensions/browser/SCENARIOS.md
  extensions/browser/agents/browser-agent.ts
  lib/mcp/client.ts
  release_notes/v0.7.7.md
Due: frontend, backend, MCP Integration, Settings
