Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, bundle-analysis

feat: 다국어 지원 확장 및 프레젠테이션 기능 개선
  components/chat/WorkingDirectoryIndicator.tsx
  components/chat/unified/UnifiedChatInput.tsx
  components/layout/Sidebar.tsx
  components/rag/DocsSyncDialog.tsx
  docs/index.html
  electron/ipc/handlers/langgraph.ts
  extensions/presentation/components/PresentationChat.tsx
  extensions/presentation/components/SlidePreview.tsx
  lib/i18n/index.ts
  lib/langgraph/graphs/coding-agent.ts
  lib/store/chat-store.ts
  locales/en.json
  locales/ko.json
Due: frontend, backend

chore: v0.7.2 릴리즈 준비
  docs/index.html
  package.json
  release_notes/v0.7.2.md
Due: none

feat: 프레젠테이션 확장 기능 대폭 개선
  extensions/presentation/components/PresentationChat.tsx
  extensions/presentation/components/PresentationMainChat.tsx
  extensions/presentation/components/PresentationSidebar.tsx
  extensions/presentation/components/PresentationStudio.tsx
  extensions/presentation/components/SlidePreview.tsx
  extensions/presentation/components/SlideRenderer.tsx
  extensions/presentation/components/index.ts
  extensions/presentation/index.ts
  extensions/presentation/ipc/handlers.ts
  extensions/presentation/lib/ppt-agent.ts
  extensions/presentation/store/index.ts
  extensions/presentation/types/index.ts
Due: none

feat: 채팅 UI 및 기능 개선
  components/chat/ChatArea.tsx
  components/chat/ChatContainer.tsx
  components/chat/InputBox.tsx
  components/chat/MessageBubble.tsx
  components/chat/unified/UnifiedChatArea.tsx
  components/chat/unified/UnifiedChatInput.tsx
  components/chat/unified/hooks/useFileUpload.ts
  components/chat/unified/hooks/useImageUpload.ts
  components/chat/unified/hooks/useMessageStreaming.ts
Due: frontend

feat: 설정, MCP, RAG 컴포넌트 개선
  components/mcp/MCPServerConfig.tsx
  components/rag/DocumentDialog.tsx
  components/rag/DocumentsPage.tsx
  components/settings/GeneralSettingsTab.tsx
Due: frontend

feat: 백엔드 및 라이브러리 기능 개선
  electron/ipc/handlers/file.ts
  electron/ipc/handlers/langgraph.ts
  extensions/browser/types/workflow.ts
  lib/comfyui/client.ts
  lib/extensions/loader.ts
  lib/langgraph/nodes/generate.ts
  lib/langgraph/nodes/tools.ts
  lib/langgraph/utils/system-message.ts
  lib/mcp/tools/browser-handlers-vision.ts
  lib/mcp/transport/stdio.ts
  lib/store/chat-store.ts
  lib/utils.ts
  lib/utils/file-utils.ts
  lib/utils/mime-types.ts
Due: backend

feat: 다국어 지원 확장
  locales/en.json
  locales/ko.json
  locales/zh.json
Due: none

chore: MCP 테스트 및 디버깅 스크립트 추가
  scripts/repro-bad-token.js
  scripts/repro-mcp.js
Due: none

fix: MCP 도구 호출 시 환각 데이터 문제 해결
  lib/langgraph/nodes/generate.ts
  lib/langgraph/nodes/tools.ts
  package.json
  release_notes/v0.7.4.md
Due: backend

fix: Browser Agent 주요 버그 수정 및 안정성 개선
  .claude/settings.json
  components/chat/unified/UnifiedChatInput.tsx
  extensions/browser/README.md
  extensions/browser/agents/browser-agent.ts
  lib/langgraph/nodes/generate.ts
  lib/store/chat-store.ts
  package.json
  pnpm-lock.yaml
  tests/lib/comfyui/client.test.ts
  tests/lib/utils.test.ts
  types/index.ts
Due: frontend, backend

feat(ci): GitHub Actions 워크플로우 개선
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
Due: none

chore: Claude Code 설정 및 skills 대폭 개선
  .claude/agents/architect.md
  .claude/agents/code-reviewer.md
  .claude/agents/debugger.md
  .claude/commands/build.md
  .claude/commands/commit.md
  .claude/commands/test.md
  .claude/skills/langgraph-agent/SKILL.md
  .claude/skills/mcp-integration/SKILL.md
  .claude/skills/rag-vector-search/SKILL.md
  CLAUDE.md
Due: none

fix: Browser Agent 추가 개선 - Tool Results 관리 및 Stop 처리
  extensions/browser/agents/browser-agent.ts
Due: none

feat: Extension 관리 UI 추가
  components/settings/ExtensionCard.tsx
  components/settings/ExtensionManagerTab.tsx
  components/settings/SettingsDialog.tsx
  components/settings/SettingsSidebar.tsx
  lib/extensions/loader.ts
  lib/extensions/registry.ts
  locales/en.json
  locales/ko.json
  locales/zh.json
  types/index.ts
Due: frontend, backend

feat: Agent 진행 상황 표시 및 LangGraph 유틸 개선
  components/chat/ChatContainer.tsx
  components/chat/unified/hooks/useMessageStreaming.ts
  jest.config.js
  lib/langgraph/graphs/sequential-thinking.ts
  lib/langgraph/graphs/tree-of-thought.ts
  lib/langgraph/utils/language-utils.ts
  lib/langgraph/utils/rag-utils.ts
  lib/langgraph/utils/research-node.ts
  tests/frontend/components/settings/settingsUtils.test.ts
  tests/frontend/lib/utils.test.ts
  tests/lib/config/sync.test.ts
  tests/setup.backend.ts
Due: frontend, backend

refactor: LangGraph 그래프 중복 코드 제거
  lib/langgraph/graphs/deep-thinking.ts
  lib/langgraph/graphs/deep-web-research.ts
Due: backend

test: 테스트 실패 수정 및 에러 메시지 한국어화
  components/settings/settingsUtils.ts
  tests/frontend/components/settings/settingsUtils.test.ts
Due: frontend

fix: 스크롤 복구 로직의 반전된 조건문 수정
  extensions/browser/agents/browser-agent.ts
Due: none

fix: Claude Code 설정 정확성 개선
  .claude/commands/build.md
  .claude/commands/test.md
  .claude/settings.json
Due: none

fix: MCP content 배열의 image/resource 타입 처리 추가
  lib/langgraph/nodes/tools.ts
Due: backend

feat(ci): 자동 버그 탐색 및 코드 건강도 모니터링 워크플로우 추가
  .github/workflows/automated-bug-hunt.yml
  .github/workflows/code-health-monitor.yml
Due: none

refactor: LLM 옵션 생성 로직을 헬퍼 함수로 추출
  lib/langgraph/nodes/generate.ts
Due: backend

refactor: Vision Fallback 중복 제거 및 우선순위 체계 개선
  extensions/browser/agents/browser-agent.ts
Due: none

feat: coding-agent에 iteration 정보 추가
  lib/langgraph/graphs/coding-agent.ts
Due: backend

docs: Agent Progress Display 주석 업데이트
  components/chat/unified/UnifiedChatInput.tsx
Due: frontend

refactor: generate.ts의 Agent 노드에서 buildLLMOptions 사용
  lib/langgraph/nodes/generate.ts
Due: backend

refactor: ExtensionCard 조건문을 삼항 연산자로 개선
  components/settings/ExtensionCard.tsx
Due: frontend

refactor: Extension 설정 UI 개선
  components/settings/ExtensionManagerTab.tsx
  components/settings/SettingsSidebar.tsx
Due: frontend

feat: Extension notFound 메시지 추가
  locales/ko.json
Due: none

docs: Testing Patterns skill 추가
  .claude/skills/testing-patterns/SKILL.md
Due: none

docs: README 업데이트 (v0.7.4 및 테스트 커버리지)
  README.md
  extensions/browser/README.md
Due: none

fix: Extension 관리 UI 개선
  codecov.yml
  components/settings/ExtensionManagerTab.tsx
  locales/en.json
  locales/zh.json
Due: frontend

feat: Editor selection tracking 추가
  extensions/editor/components/Editor.tsx
Due: none

docs: Error Handling skill 추가
  .claude/skills/error-handling/SKILL.md
Due: none

docs: State Management skill 추가
  .claude/skills/state-management/SKILL.md
Due: none

docs: v0.7.4 릴리스 노트에 Editor selection 기능 추가
  release_notes/v0.7.4.md
Due: none

docs: Extension 관리 UI 기능 릴리스 노트 추가
  release_notes/v0.7.4.md
Due: none

docs: Skills 확장 - 품질/최적화 및 데이터 관리 패턴 추가
  .claude/skills/file-operations/SKILL.md
  .claude/skills/performance-optimization/SKILL.md
  CLAUDE.md
Due: none

feat(ci): 자동 Lint 수정 워크플로우 추가
  .github/workflows/auto-lint-fix.yml
  lib/llm/providers/openai.ts
Due: backend

Path conditions:
  frontend: any of: app/, components/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, node_modules/, scripts/, **/__mocks__/, **/*.config.js, **/*.config.ts
  backend: any of: lib/, electron/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, node_modules/, scripts/, **/__mocks__/, **/*.config.js, **/*.config.ts
  bundle-analysis: any of: .next/analyze/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, node_modules/, scripts/, **/__mocks__/, **/*.config.js, **/*.config.ts
