Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

      frontend:
        flags:
          - frontend
        target: 75%
        threshold: 3%

      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%

    patch:
      default:
        target: 80%
        threshold: 5%

flags:
  frontend:
    paths:
      - app/
      - components/
    carryforward: true

  backend:
    paths:
      - lib/
      - electron/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

ignore:
  - "tests/"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.d.ts"
  - "dist/"
  - ".next/"
  - "node_modules/"
  - "scripts/"
  - "**/__mocks__/"

feat: 각 대화마다 개별 UnifiedChatInput 설정 저장 및 복원 기능 추가
  electron/services/database.ts
  lib/store/chat-store.ts
  types/index.ts
Due: backend

debug: TestDashboard 디버깅을 위한 로그 추가
  app/page.tsx
  components/test-runner/TestDashboard.tsx
Due: frontend

fix: 대화 전환 시 설정 복원이 제대로 작동하지 않는 문제 수정
  components/layout/ChatHistory.tsx
  lib/store/chat-store.ts
Due: frontend, backend

feat: Coding Agent 유틸리티 통합 및 Context Management 개선
  lib/langgraph/graphs/coding-agent.ts
  lib/langgraph/utils/context-manager.ts
  release_notes/v0.6.0_v2.md
Due: backend

debug: F10 메뉴 토글 및 메뉴 클릭 이벤트 로그 추가
  electron/main.ts
Due: backend

fix: NanoBanana API 인증 방식 개선 및 다중 provider 지원
  app/page.tsx
  components/settings/ImageGenSettingsTab.tsx
  components/settings/settingsUtils.ts
  components/test-runner/TestDashboard.tsx
  lib/imagegen/nanobanana-client.ts
  release_notes/v0.6.0.md
  types/index.ts
Due: frontend, backend

refactor: Agent 모드 버튼을 Chat 헤더로 이동
  components/layout/Sidebar.tsx
  components/layout/SidebarEditor.tsx
Due: frontend

docs: Agent 모드 버튼 이동에 대한 release notes 업데이트
  release_notes/v0.6.0_v2.md
Due: none

fix: NanoBananaAPI.ai 응답 구조에 맞게 수정
  lib/imagegen/nanobanana-client.ts
Due: backend

fix: NanoBanana API type 필드 오타 수정 (TEXTTOIAMGE → TEXTTOIMAGE)
  lib/imagegen/nanobanana-client.ts
Due: backend

fix: preload.ts validChannels에 test 이벤트 채널 추가
  electron/preload.ts
Due: backend

fix: LLM 테스트를 LLMConfigV2 지원하도록 수정
  electron/tests/suites/llm-interaction.ts
Due: backend

fix: NanoBanana API 요청 디버깅 로깅 추가 및 type 필드 복원
  lib/imagegen/nanobanana-client.ts
Due: backend

fix: 테스트와 health-check에서 잘못된 테이블 이름 수정 (config → settings)
  electron/services/health-check.ts
  electron/tests/suites/database.ts
  electron/tests/suites/llm-interaction.ts
Due: backend

fix: Codecov에서 frontend/backend 커버리지 분리 표시 개선
  .github/workflows/ci.yml
  jest.config.js
Due: none

fix: NanoBanana polling successFlag 체크 수정
  lib/imagegen/nanobanana-client.ts
Due: backend

fix: LLM 테스트에서 configResult.value가 undefined일 때 JSON.parse 에러 수정
  electron/tests/suites/llm-interaction.ts
Due: backend

fix: health-check에서도 config.value undefined 체크 추가
  electron/services/health-check.ts
Due: backend

fix: LLM 테스트 및 Health Check의 데이터베이스 접근 패턴 수정
  electron/services/health-check.ts
  electron/tests/suites/llm-interaction.ts
Due: backend

docs: v0.6.0 릴리스 노트에 데이터베이스 접근 패턴 수정 내용 추가
  release_notes/v0.6.0.md
Due: none

chore: .gitignore에 coverage 변형 디렉토리 패턴 추가
  .gitignore
Due: none

fix: chat-agent에서 generatedImages를 state에 병합하지 않던 문제 수정
  lib/langgraph/graphs/chat-agent.ts
  release_notes/v0.6.0.md
Due: backend

fix: 도구 실행 승인 메시지 중복 표시 버그 수정
  components/chat/unified/hooks/useMessageStreaming.ts
  components/editor/EditorChatContainer.tsx
Due: frontend

feat: 이미지 생성 활성화 시 Tools 비활성화 방지
  lib/store/chat-store.ts
Due: backend

docs: v0.6.0 릴리스 노트에 버그 수정 내용 추가
  release_notes/v0.6.0_v2.md
Due: none

feat: 테스트 스위트에 상세 로깅 추가
  electron/ipc/handlers/test-runner.ts
  electron/tests/suites/database.ts
  electron/tests/suites/mcp-tools.ts
Due: backend

fix: 토글 아이콘 간격 개선
  components/chat/unified/UnifiedChatInput.tsx
Due: frontend

debug: 이미지 생성 디버깅을 위한 상세 로그 추가
  lib/imagegen/nanobanana-client.ts
  lib/langgraph/graphs/chat-agent.ts
  lib/langgraph/nodes/generate.ts
  lib/langgraph/nodes/tools.ts
Due: backend

docs: v0.6.0 릴리스 노트에 대화별 설정 및 토글 개선 내용 추가
  release_notes/v0.6.0.md
Due: none

fix: Database 테스트의 SQL.js API 사용 패턴 수정
  electron/tests/suites/database.ts
Due: backend

fix: 이미지 생성 후 최종 응답 생성을 위해 한 번 더 generate 노드 호출
  lib/langgraph/graphs/chat-agent.ts
Due: backend

docs: 릴리스 노트에 이미지 생성 버그 수정 내역 업데이트
  release_notes/v0.6.0.md
Due: none

feat: Test Dashboard에 뒤로가기 및 닫기 버튼 추가
  components/test-runner/TestDashboard.tsx
Due: frontend

fix: Health Check의 Database 및 LLM Provider 검증 수정
  electron/services/health-check.ts
Due: backend

fix: Chat Agent 이미지 생성 루프 조기 종료 문제 해결
  lib/langgraph/graphs/chat-agent.ts
  release_notes/v0.6.0.md
Due: backend

fix: Health Check V1 config 타입 에러 수정
  electron/services/health-check.ts
Due: backend

feat: RAG 검색 고도화 - SearchOptions 및 BM25 하이브리드 검색 구현
  electron/ipc/handlers/vectordb.ts
  electron/preload.ts
  electron/services/vectordb.ts
  release_notes/v0.6.0.md
  types/electron.d.ts
Due: backend

fix: generate 노드 메시지에서 생성된 이미지 추출
  components/chat/unified/hooks/useMessageStreaming.ts
Due: frontend
