Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, bundle-analysis

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 55%
        threshold: 2%
        if_ci_failed: error

      frontend:
        flags:
          - frontend
        target: 50%
        threshold: 3%
        informational: true

      backend:
        flags:
          - backend
        target: 55%
        threshold: 2%

    patch:
      default:
        target: 55%
        threshold: 5%
        informational: true

flags:
  frontend:
    paths:
      - app/
      - components/
    carryforward: true

  backend:
    paths:
      - lib/
      - electron/
    carryforward: true

  bundle-analysis:
    paths:
      - .next/analyze/
    carryforward: false

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# GitHub Checks
github_checks:
  annotations: true

# Pull Request Comments
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
  - "tests/"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/*.d.ts"
  - "dist/"
  - ".next/"
  - "out/"
  - "node_modules/"
  - "scripts/"
  - "**/__mocks__/"
  - "**/*.config.js"
  - "**/*.config.ts"

security: React 19.2.1로 업데이트 - CVE-2025-66478, CVE-2025-55182 수정
  package.json
  pnpm-lock.yaml
Due: none

fix: Team Docs Push 시 teamDocsId 누락 에러 방지
  components/rag/DocumentEditDialog.tsx
  release_notes/v0.6.3.md
Due: frontend

fix: PPT Agent 슬라이드 순서 보장 및 배열 관리 개선
  lib/presentation/ppt-agent.ts
Due: backend

feat: Team Docs Push 버튼 UX 개선 - teamDocsId 없을 때 버튼 비활성화
  components/rag/DocumentEditDialog.tsx
  release_notes/v0.6.3.md
Due: frontend

feat: 구조 단계에서 디자인 템플릿 미리보기 추가
  components/presentation/SlideMasterPreview.tsx
  components/presentation/SlidePreview.tsx
Due: frontend

fix: slide-creation 단계에서 구조 준수를 강제하도록 프롬프트 강화
  lib/presentation/ppt-agent.ts
Due: backend

feat: 구조 단계 프롬프트 개선 - 상세한 논의 가이드 추가
  lib/presentation/ppt-agent.ts
Due: backend

feat: 디자인 옵션 미리보기 및 Select 선택 기능 추가
  components/presentation/DesignOptionsPreview.tsx
  components/presentation/SlidePreview.tsx
Due: frontend

fix: JSON 데이터 처리됨 메시지 제거
  components/presentation/PresentationChat.tsx
Due: frontend

feat: 이전 단계로 돌아가기 기능 추가
  components/presentation/PresentationChat.tsx
Due: frontend

refactor: 채팅 UI 개선 - 디자인 미리보기 제거 및 구조 축소, 자동 스크롤 추가
  components/presentation/PresentationChat.tsx
Due: frontend

refactor: Presentation UI 정리 및 RAG 토글 추가
  components/layout/Sidebar.tsx
  components/presentation/PresentationChat.tsx
  types/presentation.ts
Due: frontend

feat: 엔터프라이즈 프레젠테이션 템플릿 시스템 구현
  components/presentation/PresentationChat.tsx
  lib/presentation/templates.ts
Due: frontend, backend

feat: 템플릿 적용 후 모든 단계 자유 이동 가능
  components/presentation/PresentationChat.tsx
Due: frontend

feat: 브리핑 단계를 템플릿 선택/정의 단계로 개선
  components/presentation/PresentationChat.tsx
Due: frontend

refactor: 프레젠테이션 템플릿 엔터프라이즈 디자인 개선
  components/presentation/SlideRenderer.tsx
  lib/presentation/templates.ts
Due: frontend, backend

feat: 슬라이드 미리보기에서 직접 내용 편집 기능 추가
  components/presentation/SlidePreview.tsx
Due: frontend

fix: 에러 리포트 버튼을 오류 발생 시에만 표시
  components/chat/unified/UnifiedChatArea.tsx
Due: frontend

fix: 터미널 패널이 중복 생성되는 문제 수정
  components/editor/TerminalPanel.tsx
Due: frontend

feat: DocumentUploadDialog에 Team Docs Repository 선택 기능 추가
  components/rag/DocumentUploadDialog.tsx
  release_notes/v0.6.3.md
Due: frontend

refactor: 다이얼로그 방식에서 인라인 편집으로 변경
  components/presentation/SlidePreview.tsx
Due: frontend

feat: DocumentList 탭 구조 개선 - Team Docs별 독립 탭 구현
  components/rag/DocumentList.tsx
  release_notes/v0.6.3.md
Due: frontend

feat: 슬라이드 인라인 편집 기능 구현
  components/presentation/SlidePreview.tsx
  components/presentation/SlideRenderer.tsx
Due: frontend

debug: Team Docs 탭 표시 및 push 문제 진단을 위한 로그 추가
  components/editor/TerminalPanel.tsx
  components/rag/DocumentList.tsx
  electron/ipc/handlers/team-docs.ts
Due: frontend, backend

feat: Markdown 파일에서 클립보드 이미지 붙여넣기 기능 구현
  electron/ipc/handlers/file.ts
Due: backend

fix: 편집 모드 입력 필드 시각적 피드백 개선
  components/editor/EditorWithTerminal.tsx
  components/editor/TerminalPanel.tsx
  components/presentation/SlideRenderer.tsx
  release_notes/v0.6.3.md
Due: frontend

refactor: DocumentList UI 개선 - Repository 선택 드롭다운 방식으로 변경
  components/rag/DocumentList.tsx
Due: frontend

docs: v0.6.3 릴리스 노트 업데이트 - Repository 선택 드롭다운 방식 반영
  release_notes/v0.6.3.md
Due: none

feat: Quick Input 창 Spotlight 스타일 동작 구현
  app/quick-input/page.tsx
Due: frontend

fix: 중복된 클립보드 이미지 저장 핸들러 제거
  electron/ipc/handlers/file.ts
Due: backend

fix: Team Docs push 시 githubPath 생성 로직 개선
  electron/ipc/handlers/team-docs.ts
Due: backend

docs: v0.6.3 릴리스 노트 업데이트 - githubPath 수정 사항 추가
  release_notes/v0.6.3.md
Due: none

fix: Monaco editor의 paste 이벤트 선점 문제 해결
  components/editor/Editor.tsx
Due: frontend

feat: PowerPoint 스타일 인라인 편집 구현
  components/presentation/SlideRenderer.tsx
Due: frontend

debug: Team Docs pull 문제 진단을 위한 상세 로그 추가
  components/rag/DocumentList.tsx
  electron/ipc/handlers/team-docs.ts
Due: frontend, backend

refactor: GitHub Sync 버튼을 Repository 선택 영역으로 이동
  components/rag/DocumentList.tsx
Due: frontend

refactor: GitHub Sync UI를 global 수준으로 재배치
  components/rag/DocumentList.tsx
Due: frontend

fix: 편집 모드 클릭 영역 및 시각적 피드백 개선
  components/presentation/SlideRenderer.tsx
Due: frontend

refactor: Monaco editor command로 paste 처리 방식 변경
  components/editor/Editor.tsx
Due: frontend

debug: 레이아웃 렌더링 디버그 로그 추가
  components/presentation/SlideRenderer.tsx
Due: frontend
