Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, bundle-analysis, Chat System, LangGraph Agent, MCP Integration, RAG System, Electron IPC, Settings

Path conditions:
  frontend: any of: app/, components/, types/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  backend: any of: lib/, electron/, types/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  bundle-analysis: any of: .next/analyze/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  Chat System: any of: components/chat/**, app/(chat)/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  LangGraph Agent: any of: lib/langgraph/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  MCP Integration: any of: lib/mcp/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  RAG System: any of: lib/rag/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  Electron IPC: any of: electron/ipc/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js
  Settings: any of: components/settings/**, app/settings/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, release/, node_modules/, scripts/, **/__mocks__/, **/__tests__/, **/*.config.js, **/*.config.ts, jest.config.js, next.config.js, tailwind.config.ts, postcss.config.js

docs: Browser Extension 시나리오 분석 및 병렬 실행 방지 가이드 추가
  release_notes/v0.7.7.md
Due: none

fix: Mermaid v11 렌더링을 위한 명시적 run() 호출 추가
  docs/dev.html
Due: none

refactor: ModelListView의 Custom Headers UI를 공통 컴포넌트로 교체
  components/settings/ModelListView.tsx
Due: frontend, Settings

fix: v0.7.6 기능이 실제로 작동하도록 수정
  electron/ipc/handlers/terminal.ts
  extensions/editor/components/EditorChatContainer.tsx
  lib/langgraph/index.ts
Due: backend, LangGraph Agent, Electron IPC

refactor: useConfigLoader의 ImageGen 설정 로직 중복 제거
  components/chat/unified/hooks/useConfigLoader.ts
Due: frontend, Chat System

fix: Mermaid 렌더링을 위한 HTML 구조 변경
  docs/dev.html
  docs/test-mermaid.html
Due: none

refactor: InputBox, useMessageStreaming any 타입 제거
  components/chat/InputBox.tsx
  components/chat/unified/hooks/useMessageStreaming.ts
Due: frontend, Chat System

feat: MCP Prompts 지원 추가 및 lint 에러 수정
  electron/ipc/handlers/mcp.ts
  electron/preload.ts
  lib/langgraph/graphs/coding-agent.ts
  lib/mcp/server-manager.ts
Due: backend, LangGraph Agent, MCP Integration, Electron IPC

refactor: Extension 시스템 아키텍처 개선
  extensions/browser/definition.ts
  extensions/browser/manifest.ts
  extensions/editor/definition.ts
  extensions/editor/manifest.ts
  extensions/index.ts
  extensions/presentation/definition.ts
  extensions/presentation/manifest.ts
  extensions/terminal/definition.ts
  extensions/terminal/manifest.ts
  lib/extensions/loader.ts
  lib/extensions/types.ts
Due: backend

refactor: ripgrep JSON 파싱 로직 공통화
  extensions/editor/tools/code-tools.ts
  extensions/editor/tools/file-tools.ts
  extensions/editor/tools/ripgrep-parser.ts
  release_notes/v0.7.7.md
Due: none

fix: Mermaid v10으로 다운그레이드 및 일반 script 로딩
  docs/dev.html
Due: none

test: Mermaid 테스트 페이지 추가
  docs/test-simple.html
Due: none

docs: 릴리즈 노트에 코드 중복 제거 리팩토링 내용 추가
  release_notes/v0.7.4.md
Due: none

test: 가장 기본적인 mermaid 테스트
  docs/test-basic.html
Due: none

fix: Mermaid 초기화 방식 개선 및 디버깅 추가
  docs/dev.html
Due: none

feat: Browser Extension Critical 개선사항 구현
  extensions/browser/agents/browser-agent.ts
Due: none

fix: v0.7.6 정말로 작동하도록 수정 - thinkingMode 오류 해결
  extensions/editor/components/EditorChatContainer.tsx
Due: none

docs: Claude Code Skills 4개 추가 (총 16개)
  .claude/skills/build-deployment/SKILL.md
  .claude/skills/i18n-localization/SKILL.md
  .claude/skills/logging-monitoring/SKILL.md
  .claude/skills/ui-design-system/SKILL.md
  CLAUDE.md
Due: none

fix: google_visit_result에 검색 페이지 검증 로직 추가
  lib/mcp/tools/google-search-handlers.ts
Due: backend, MCP Integration

docs: Browser Extension Critical 개선사항 릴리스 노트 추가
  release_notes/v0.7.4.md
Due: none

test: 테스트 인프라 개선 및 289개 테스트 추가 통과
  jest.config.js
  tests/frontend/components/Sidebar.test.tsx
  tests/frontend/components/browser/BookmarksList.test.tsx
  tests/frontend/components/browser/BrowserAgentLogsView.test.tsx
  tests/frontend/components/browser/BrowserSettings.test.tsx
  tests/frontend/components/browser/BrowserToolsList.test.tsx
  tests/frontend/components/browser/SimpleChatInput.test.tsx
  tests/frontend/components/browser/SnapshotsList.test.tsx
  tests/frontend/components/editor/EditorChatInput.test.tsx
  tests/frontend/components/editor/SearchPanel.test.tsx
  tests/frontend/components/layout/SidebarBrowser.test.tsx
  tests/frontend/components/layout/SidebarEditor.test.tsx
  tests/setup.frontend.ts
  tests/setup.ts
Due: none

refactor: RAG 컴포넌트 any 타입 제거 및 타입 안전성 강화
  components/rag/DocumentDialog.tsx
  components/rag/DocumentList.tsx
  components/rag/VectorDBSettings.tsx
Due: frontend

test: ES Module 방식으로 새 테스트 페이지
  docs/dev-new.html
Due: none

feat(terminal): 다중 세션 및 실시간 스트리밍 출력 구현
  extensions/terminal/components/SessionTabBar.tsx
  extensions/terminal/components/TerminalPanel.tsx
  extensions/terminal/store/index.ts
  extensions/terminal/store/sessions.ts
  extensions/terminal/types/sessions.ts
  release_notes/v0.7.8.md
  report/jscpd-report.json
  tests/frontend/components/chat/unified/UnifiedChatArea.test.tsx
  tests/frontend/components/settings/MCPSettingsTab.test.tsx
  tests/frontend/components/settings/NetworkSettingsTab.test.tsx
Due: none

test: 테스트 수정 및 개선
  components/settings/SettingsDialog.tsx
  docs/diagrams/architecture.mmd
  docs/diagrams/architecture.svg
Due: frontend, Settings

feat: SVG 기반 다이어그램으로 전환
  docs/dev-svg.html
  docs/diagrams/test.mmd
Due: none

fix: GitHub Actions 워크플로우 조건문 문법 오류 수정
  .github/workflows/auto-lint-fix.yml
  .github/workflows/automated-bug-hunt.yml
  .github/workflows/code-health-monitor.yml
Due: none

fix: CDN을 unpkg로 변경하여 CORS 문제 해결
  docs/dev.html
Due: none

fix(terminal): Message 타입에 id 및 created_at 필드 추가
  electron/ipc/handlers/terminal.ts
Due: backend, Electron IPC

feat: Mermaid 렌더링 완성 및 테스트 파일 정리
  docs/dev.html
Due: none

chore: 테스트 파일 완전 삭제
  docs/dev-new.html
  docs/dev-svg.html
  docs/test-basic.html
  docs/test-mermaid.html
  docs/test-simple.html
Due: none

fix: MCP 다이어그램 Mermaid 문법 에러 수정
  docs/dev.html
Due: none

fix: GitHub Actions 워크플로우 YAML 문법 최종 수정
  .github/workflows/auto-lint-fix.yml
  .github/workflows/auto-update-docs.yml
  .github/workflows/automated-bug-hunt.yml
Due: none

test: SettingsDialog 테스트 수정 - 기본 탭 변경 반영
  components/settings/SettingsDialog.tsx
  tests/frontend/components/settings/SettingsDialog.test.tsx
Due: frontend, Settings

feat(terminal): Terminal Extension 활성화
  extensions/index.ts
Due: none

fix: auto-lint-fix.yml template literal indentation 수정
  .github/workflows/auto-lint-fix.yml
Due: none

test: auto-lint-fix 워크플로우에 push 트리거 임시 추가
  .github/workflows/auto-lint-fix.yml
Due: none

fix(terminal): window.electronAPI.invoke 에러 수정
  electron/preload.ts
  extensions/terminal/components/TerminalPanel.tsx
  types/electron.d.ts
Due: backend

docs: v0.7.8 릴리스 노트 업데이트
  release_notes/v0.7.8.md
Due: none

test: 문제 워크플로우 비활성화 및 템플릿 리터럴 테스트
  .github/workflows/auto-lint-fix.yml.disabled
  .github/workflows/auto-update-docs.yml.disabled
  .github/workflows/automated-bug-hunt.yml.disabled
  .github/workflows/code-health-monitor.yml.disabled
  .github/workflows/test-template-literal.yml
Due: none
