Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, bundle-analysis

feat(i18n): editor, sidebar, terminal 컴포넌트 다국어 번역 키 추가
  locales/en.json
  locales/ko.json
  locales/zh.json
  release_notes/v0.6.8.md
Due: none

feat(editor): Phase 1 Critical 기능 완성 - 단축키 도움말, Command Palette, 다국어 완성
  components/editor/CommandPalette.tsx
  components/editor/Editor.tsx
  components/editor/KeyboardShortcutsDialog.tsx
  components/editor/TerminalPanel.tsx
  components/layout/SidebarEditor.tsx
  docs/EDITOR_REVIEW.md
  release_notes/v0.6.8.md
Due: frontend

chore(release): v0.6.9 릴리스 준비
  package.json
  release_notes/v0.6.9.md
Due: none

fix(editor): Monaco Editor chord 단축키가 일반 텍스트 입력을 방해하던 문제 수정 (#81) (#82)
  components/editor/KeyboardShortcutsDialog.tsx
  components/editor/SingleFileEditor.tsx
  locales/en.json
  locales/ko.json
  locales/zh.json
  release_notes/v0.6.9.md
Due: frontend

fix(mcp): Windows 환경에서 MCP 서버 추가 시 무한 대기 문제 수정
  electron/ipc/handlers/mcp.ts
  lib/mcp/transport/stdio.ts
  release_notes/v0.6.9.md
Due: backend

fix(editor): 파일 탐색기 컨텍스트 메뉴 버그 수정 및 안정성 개선
  components/layout/FileTreeItem.tsx
  hooks/use-file-clipboard.ts
  release_notes/v0.6.9.md
Due: frontend

refactor(editor): IPC 기반 경로 처리 유틸리티 추가 및 안정성 개선
  electron/ipc/handlers/file.ts
  electron/preload.ts
  hooks/use-file-clipboard.ts
  release_notes/v0.6.9.md
  types/electron.d.ts
Due: backend

chore(settings): 사용하지 않는 LLM 설정 백업 파일 삭제
  components/settings/LLMSettingsTab.v1.backup.tsx
Due: frontend

fix(llm): 모델 새로고침 실패 시 상세한 에러 메시지 제공
  electron/ipc/handlers/llm.ts
Due: backend

fix(llm): 에러 메시지에 상세한 디버깅 정보 추가
  electron/ipc/handlers/llm.ts
Due: backend

feat(i18n): LLM 에러 메시지 다국어 지원 추가
  components/settings/ModelListView.tsx
  components/settings/settingsUtils.ts
  electron/ipc/handlers/llm.ts
  locales/en.json
  locales/ko.json
  locales/zh.json
Due: frontend, backend

feat(i18n): Settings 컴포넌트 다국어 지원 완성
  components/settings/ConnectionManager.tsx
  components/settings/GitHubOAuthSettings.tsx
  components/settings/SettingsDialog.tsx
  locales/en.json
  locales/ko.json
  locales/zh.json
Due: frontend

docs: v0.6.9 릴리스 노트에 LLM 에러 메시지 및 Settings 다국어 지원 내용 추가
  release_notes/v0.6.9.md
Due: none

feat(i18n): MCP 컴포넌트 다국어 지원 완성
  components/mcp/MCPServerConfig.tsx
  components/mcp/MCPServerList.tsx
  locales/en.json
  locales/ko.json
  locales/zh.json
Due: frontend

i18n: documents, documentsPage, documentDialog 다국어 번역 추가
  locales/en.json
  locales/ko.json
  locales/zh.json
Due: none

feat(i18n): RAG 문서 관리 컴포넌트 다국어 지원 추가
  components/pages/DocumentsPage.tsx
  components/rag/DocumentDialog.tsx
  components/rag/DocumentList.tsx
Due: frontend

feat(i18n): GalleryView 컴포넌트에 i18n 적용
  components/gallery/GalleryView.tsx
Due: frontend

docs(release): GalleryView i18n 적용 내용 릴리스 노트 추가
  release_notes/v0.6.9.md
Due: none

feat(i18n): UnifiedChatInput 컴포넌트에 i18n 적용
  components/chat/unified/UnifiedChatInput.tsx
  locales/en.json
  locales/ko.json
  locales/zh.json
Due: frontend

docs(release): v0.6.9 릴리스 노트에 UnifiedChatInput i18n 작업 추가
  release_notes/v0.6.9.md
Due: none

feat(i18n): InputBox 컴포넌트 다국어 지원 추가
  components/chat/InputBox.tsx
  locales/en.json
  locales/zh.json
Due: frontend

feat(i18n): PersonaDialog, CompressConversationDialog, SaveKnowledgeDialog 번역 키 추가
  locales/en.json
  locales/ko.json
  locales/zh.json
Due: none

refactor(i18n): CompressConversationDialog, SaveKnowledgeDialog, PersonaDialog 번역 키 적용
  components/chat/CompressConversationDialog.tsx
  components/chat/SaveKnowledgeDialog.tsx
  components/persona/PersonaDialog.tsx
Due: frontend

fix(mcp): Python MCP 서버 추가 시 블로킹 문제 해결
  components/mcp/MCPServerConfig.tsx
  lib/mcp/transport/stdio.ts
  locales/en.json
  locales/ko.json
  locales/zh.json
Due: frontend, backend

fix(mcp): STDIO 연결 감지 로직 수정 - MCP 프로토콜 준수
  lib/mcp/transport/stdio.ts
Due: backend

chore: 버전 0.6.11로 업데이트
  package.json
Due: none

docs: v0.6.11 릴리스 노트 작성
  release_notes/v0.6.11.md
Due: none

fix(llm): undefined endpoint 변수를 config.baseURL로 수정
  electron/ipc/handlers/llm.ts
Due: backend

feat(settings): GeneralSettingsTab에 버전 정보 및 업데이트 확인 기능 추가
  components/settings/GeneralSettingsTab.tsx
  locales/en.json
  locales/ko.json
  locales/zh.json
  next.config.js
Due: frontend

fix(i18n): settings.mcp.serverConfig.title 번역 키 누락 수정
  locales/en.json
  locales/ko.json
  locales/zh.json
Due: none

feat(i18n): SidebarChat 컴포넌트 다국어 지원 추가
  components/layout/SidebarChat.tsx
Due: frontend

feat(i18n): 파일 탐색기와 브라우저 컴포넌트 다국어 지원 추가
  components/browser/BookmarksList.tsx
  components/browser/BrowserAgentLogsView.tsx
  components/browser/BrowserToolsList.tsx
  components/browser/SnapshotsList.tsx
  components/layout/FileExplorer.tsx
  components/layout/FileTreeContextMenu.tsx
  locales/ko.json
Due: frontend

feat(i18n): 브라우저 Agent 로그 및 도구 다국어 지원 추가 (en, zh)
  locales/en.json
  locales/zh.json
Due: none

chore: v0.6.12 릴리즈 준비
  package.json
  release_notes/v0.6.12.md
Due: none

Potential fix for code scanning alert no. 53: Incomplete URL substring sanitization
  lib/mcp/tools/google-search-handlers.ts
Due: backend

refactor: 모든 HTTP 통신을 lib/http 모듈로 통합하여 일관된 네트워크 정책 적용
  lib/comfyui/client.ts
  lib/github/client.ts
  lib/mcp/transport/sse.ts
Due: backend

feat: 전체 HTTP 통신을 lib/http 모듈로 통합하여 NetworkConfig 일관성 확보
  components/rag/VectorDBSettings.tsx
  components/settings/ComfyUISettingsTab.tsx
  components/settings/GeneralSettingsTab.tsx
  components/settings/ImageGenSettingsTab.tsx
  components/settings/settingsUtils.ts
  electron/ipc/handlers/file.ts
  electron/ipc/handlers/github.ts
  electron/tests/suites/network.ts
  lib/langgraph/nodes/tools.ts
  lib/llm/web-client.ts
  lib/vectordb/embeddings/openai.ts
Due: frontend, backend

fix: WebSocket 통신에도 NetworkConfig(프록시/SSL) 적용
  lib/comfyui/client.ts
  lib/langgraph/nodes/tools.ts
Due: backend

fix: 브라우저 환경에서 NetworkConfig 로드 실패 버그 수정
  lib/http/config.ts
Due: backend

chore: v0.6.13 릴리즈 준비
  package.json
  release_notes/v0.6.13.md
Due: none

Path conditions:
  frontend: any of: app/, components/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, node_modules/, scripts/, **/__mocks__/, **/*.config.js, **/*.config.ts
  backend: any of: lib/, electron/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, node_modules/, scripts/, **/__mocks__/, **/*.config.js, **/*.config.ts
  bundle-analysis: any of: .next/analyze/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.d.ts, dist/, .next/, out/, node_modules/, scripts/, **/__mocks__/, **/*.config.js, **/*.config.ts
