Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

      frontend:
        flags:
          - frontend
        target: 75%
        threshold: 3%

      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%

    patch:
      default:
        target: 80%
        threshold: 5%

flags:
  frontend:
    paths:
      - app/
      - components/
    carryforward: true

  backend:
    paths:
      - lib/
      - electron/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

ignore:
  - "tests/"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.d.ts"
  - "dist/"
  - ".next/"
  - "node_modules/"
  - "scripts/"
  - "**/__mocks__/"

feat: Chat 컴포넌트 통합 - Phase 2 완료 (코어 컴포넌트)
  components/chat/unified/UnifiedChatContainer.tsx
  components/chat/unified/UnifiedChatInput.tsx
Due: frontend

feat: 갤러리 이미지 클립보드 복사 기능 추가
  components/gallery/GalleryView.tsx
Due: frontend

feat: command_execute 및 모든 툴에 timeout 보호 추가
  lib/langgraph/graphs/coding-agent.ts
Due: backend

feat: Chat 컴포넌트 통합 - Phase 3 완료 (플러그인 8개)
  components/chat/unified/plugins/AgentLogsPlugin.tsx
  components/chat/unified/plugins/AgentProgressPlugin.tsx
  components/chat/unified/plugins/EditRegeneratePlugin.tsx
  components/chat/unified/plugins/FileUploadPlugin.tsx
  components/chat/unified/plugins/FontScalePlugin.tsx
  components/chat/unified/plugins/ImageAttachmentPlugin.tsx
  components/chat/unified/plugins/PersonaPlugin.tsx
  components/chat/unified/plugins/ToolApprovalPlugin.tsx
Due: frontend

docs: v0.6.0 릴리스 노트에 Coding Agent timeout 보호 기능 추가
  release_notes/v0.6.0_v2.md
Due: none

feat: 갤러리에 마크다운 이미지 링크 지원 추가
  components/gallery/GalleryView.tsx
Due: frontend

feat: Chat 컴포넌트 통합 - Phase 2 완료 (코어 컴포넌트)
  components/chat/unified/UnifiedChatArea.tsx
  components/chat/unified/UnifiedChatContainer.tsx
  components/chat/unified/UnifiedChatInput.tsx
Due: frontend

feat: NanoBanana 이미지 생성 백엔드 구현 완료
  components/chat/InputBox.tsx
  components/settings/SettingsDialog.tsx
  electron/ipc/handlers/langgraph.ts
  electron/preload.ts
  lib/imagegen/nanobanana-client.ts
  lib/langgraph/nodes/tools.ts
  lib/llm/streaming-callback.ts
  release_notes/v0.6.0.md
  types/electron.d.ts
Due: frontend, backend

feat: Phase 3 완료 - 8개 플러그인 구현
  components/chat/unified/plugins/AgentLogsPlugin.tsx
  components/chat/unified/plugins/AgentProgressPlugin.tsx
  components/chat/unified/plugins/EditRegeneratePlugin.tsx
  components/chat/unified/plugins/FileUploadPlugin.tsx
  components/chat/unified/plugins/FontScalePlugin.tsx
  components/chat/unified/plugins/ImageAttachmentPlugin.tsx
  components/chat/unified/plugins/PersonaPlugin.tsx
  components/chat/unified/plugins/ToolApprovalPlugin.tsx
  components/chat/unified/plugins/index.ts
Due: frontend

feat: 이미지 생성 시 Provider 실시간 선택 기능 추가
  components/chat/InputBox.tsx
  lib/store/chat-store.ts
  release_notes/v0.6.0.md
Due: frontend, backend

feat: Phase 4 완료 - Main Chat 마이그레이션 (기능별 훅 분리)
  app/page.tsx
  components/chat/ChatContainer.tsx
  components/chat/MainChatInput.tsx
  components/chat/unified/UnifiedChatArea.tsx
  components/chat/unified/hooks/useConfigLoader.ts
  components/chat/unified/hooks/useFileUpload.ts
  components/chat/unified/hooks/useImageUpload.ts
  components/chat/unified/hooks/useMessageStreaming.ts
  components/chat/unified/hooks/useToolApproval.ts
  components/chat/unified/types.ts
  components/settings/GitHubSyncSettings.tsx
  electron/ipc/handlers/error-reporting.ts
  electron/ipc/index.ts
  types/index.ts
Due: frontend, backend

chore: 기존 ChatArea, InputBox를 _deprecated로 이동
  components/_deprecated/ChatArea.tsx
  components/_deprecated/InputBox.tsx
Due: frontend

feat: GitHub 에러 자동 리포팅 기능 추가
  components/ErrorBoundary.tsx
  electron/preload.ts
  lib/error-reporting.ts
  release_notes/v0.6.0.md
  types/electron.d.ts
Due: frontend, backend

feat: NanoBanana 모델 선택 및 Interactive 옵션 기능 추가
  components/settings/ImageGenSettingsTab.tsx
  components/settings/settingsUtils.ts
  lib/langgraph/nodes/generate.ts
  lib/langgraph/nodes/tools.ts
  release_notes/v0.6.0.md
Due: frontend, backend

feat: NanoBanana Credit/Usage 정보 표시 기능 추가
  components/chat/unified/hooks/useMessageStreaming.ts
  lib/imagegen/nanobanana-client.ts
  lib/langgraph/nodes/generate.ts
  lib/langgraph/nodes/tools.ts
  release_notes/v0.6.0.md
Due: frontend, backend

fix: 에러 리포팅에 사용자 동의 다이얼로그 추가
  components/ErrorBoundary.tsx
  components/ErrorReportDialog.tsx
  lib/error-reporting.ts
Due: frontend, backend

feat: 대화창 내 Tool Approval (Human-in-the-loop) 구현
  components/chat/MessageBubble.tsx
  components/chat/ToolApprovalRequest.tsx
  components/chat/unified/UnifiedChatArea.tsx
  components/chat/unified/UnifiedChatInput.tsx
  lib/prompts/interactive-components-guide.md
  lib/utils/interactive-parser.ts
Due: frontend, backend

feat: 갤러리에 이미지 생성 출처(ComfyUI/NanoBanana) 표시 추가
  components/gallery/GalleryView.tsx
  types/index.ts
Due: frontend

feat: Phase 1 - 테스트 러너 기본 인프라 구현
  electron/ipc/handlers/test-runner.ts
  electron/ipc/index.ts
  electron/main.ts
  electron/preload.ts
  electron/services/health-check.ts
  types/electron.d.ts
Due: backend

feat: Coding Agent를 Claude Code 수준으로 대폭 개선
  components/ConversationReportDialog.tsx
  components/chat/ChatContainer.tsx
  components/chat/MainChatInput.tsx
  components/chat/unified/UnifiedChatArea.tsx
  electron/ipc/handlers/error-reporting.ts
  electron/preload.ts
  types/electron.d.ts
Due: frontend, backend

feat: Chat 컴포넌트 Unified 아키텍처로 통합
  .claude/analysis/browser-agent-type-review.md
  components/browser/BrowserChat.tsx
  components/browser/BrowserChatContainer.tsx
  components/chat/ToolApprovalRequest.tsx
  components/chat/unified/UnifiedChatInput.tsx
  components/chat/unified/hooks/useToolApproval.ts
  components/editor/EditorChatContainer.tsx
  components/gallery/GalleryView.tsx
  components/layout/SidebarEditor.tsx
  electron/ipc/handlers/test-runner.ts
  electron/tests/suites/database.ts
  electron/tests/suites/llm-interaction.ts
  electron/tests/suites/mcp-tools.ts
  eslint.config.js
  lib/langgraph/graphs/coding-agent.ts
  lib/langgraph/state.ts
  lib/langgraph/utils/context-manager.ts
  lib/langgraph/utils/verification-pipeline.ts
  lib/utils/interactive-parser.ts
  tsconfig.json
  types/browser-agent/browser-control.ts
  types/browser-agent/vision.ts
Due: frontend, backend

docs: v0.6.0 릴리스 노트에 테스트 러너 기능 추가
  release_notes/v0.6.0.md
Due: none

feat: 갤러리 컨텍스트 메뉴에 '파일로 저장' 기능 추가
  components/gallery/GalleryView.tsx
Due: frontend

perf: VectorDB 보안 및 성능 최적화 (SQL Injection 방어, Top-K 검색 알고리즘)
  electron/services/vectordb.ts
  release_notes/v0.6.0.md
Due: backend

feat: GitHub API Rate Limit 처리 개선 (자동 재시도 및 지수 백오프)
  components/editor/Editor.tsx
  electron/ipc/handlers/llm.ts
  lib/documents/fetchers.ts
  release_notes/v0.6.0.md
  types/electron.d.ts
Due: frontend, backend

feat: 에디터 자동완성 및 컨텍스트 메뉴 대폭 개선
  types/browser-agent.ts
  types/browser-agent/errors.ts
  types/browser-agent/google-search.ts
  types/browser-agent/index.ts
  types/browser-agent/workflow.ts
Due: none

feat: Phase 3 - Test Dashboard UI 구현
  app/page.tsx
  app/test-dashboard/page.tsx
  components/test-runner/HealthStatus.tsx
  components/test-runner/TestDashboard.tsx
  components/test-runner/TestResultViewer.tsx
Due: frontend

docs: Phase 3 릴리스 노트 추가
  release_notes/v0.6.0.md
Due: none

feat: RAG 문서 검색 및 필터링 기능 추가
  components/rag/DocumentList.tsx
Due: frontend

feat: Coding Agent에 고급 유틸리티 통합 (Error Recovery, Tool Selection, File Tracking, Codebase Analyzer)
  lib/langgraph/graphs/coding-agent.ts
  lib/langgraph/utils/codebase-analyzer.ts
  lib/langgraph/utils/error-recovery.ts
  lib/langgraph/utils/file-tracker.ts
  lib/langgraph/utils/tool-selector.ts
Due: backend

docs: 릴리스 노트에 Coding Agent 고급 유틸리티 통합 내용 추가
  components/_deprecated/EditorChatInput.tsx
  components/_deprecated/MainChatInput.tsx
  components/_deprecated/SimpleChatInput.tsx
  release_notes/v0.6.0_v2.md
Due: frontend

feat: Chat Input 컴포넌트 통합 및 Responsive Layout 구현
  components/browser/BrowserChatContainer.tsx
  components/chat/ChatContainer.tsx
  components/chat/unified/UnifiedChatArea.tsx
  components/chat/unified/UnifiedChatContainer.tsx
  components/chat/unified/UnifiedChatInput.tsx
  components/editor/EditorChatContainer.tsx
Due: frontend

fix: 타입 에러 수정 - 테스트 수트 및 헬스 체크 서비스
  components/ConversationReportDialog.tsx
  components/ErrorReportDialog.tsx
  components/test-runner/HealthStatus.tsx
  components/test-runner/TestDashboard.tsx
  components/test-runner/TestResultViewer.tsx
  electron/services/database.ts
  electron/services/health-check.ts
  electron/services/vectordb.ts
  electron/tests/suites/llm-interaction.ts
  electron/tests/suites/mcp-tools.ts
  types/electron.d.ts
Due: frontend, backend

fix: better-sqlite3 API 변경 및 MCP import 경로 수정
  electron/services/health-check.ts
  electron/tests/suites/database.ts
  electron/tests/suites/llm-interaction.ts
  electron/tests/suites/mcp-tools.ts
Due: backend

fix: better-sqlite3 .get() 메서드 사용 및 MCP 메서드 이름 수정
  electron/services/health-check.ts
  electron/tests/suites/database.ts
  electron/tests/suites/llm-interaction.ts
  electron/tests/suites/mcp-tools.ts
Due: backend

fix: MCPClient에 name과 connected getter 추가 및 타입 캐스팅 수정
  electron/services/health-check.ts
  electron/tests/suites/database.ts
  lib/langgraph/graphs/coding-agent.ts
  lib/langgraph/prompts/coding-agent-system.ts
  lib/mcp/client.ts
Due: backend

fix: better-sqlite3 파라미터를 배열로 전달하도록 수정
  electron/services/health-check.ts
  electron/tests/suites/database.ts
  electron/tests/suites/llm-interaction.ts
  lib/langgraph/graphs/coding-agent.ts
Due: backend

fix: 드롭다운 메뉴를 위로 나타나도록 수정
  components/_deprecated/MainChatInput.tsx
Due: frontend

fix: ChatHistory 드릴다운 메뉴 위치 자동 조정
  components/layout/ChatHistory.tsx
  components/ui/dropdown-menu.tsx
Due: frontend
