Repository jhl-labs/sepilot_desktop: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

docs: v0.6.0 릴리스 노트에 Deep Web Research 개선 추가
  release_notes/v0.6.0_v2.md
Due: none

fix: Browser Agent 로그 크기 및 설정 기본값 수정
  components/browser/BrowserSettings.tsx
  lib/langgraph/graphs/browser-agent.ts
Due: frontend, backend

docs: v0.6.0 릴리스 노트에 Browser Agent 로그 개선 추가
  release_notes/v0.6.0.md
Due: none

fix: VectorDB IPC 모드 에러 수정
  components/chat/ChatArea.tsx
  components/layout/ChatHistory.tsx
Due: frontend

feat: SaveTextDialog 폴더 경로 지정 및 DocumentList 청크 업데이트 개선
  components/chat/SaveTextDialog.tsx
  components/rag/DocumentList.tsx
Due: frontend

fix: RAG 문서 folderPath 저장 및 드래그 앤 드롭 이동 문제 해결
  release_notes/v0.6.0.md
Due: none

feat: RAG 빈 폴더 지원 기능 추가
  components/rag/DocumentList.tsx
  release_notes/v0.6.0.md
Due: frontend

fix: 대화 압축 후 화면에 반영되지 않는 문제 수정
  components/layout/ChatHistory.tsx
  lib/store/chat-store.ts
Due: frontend, backend

fix: Chat에서 Tool Approval Dialog가 표시되지 않는 문제 수정
  electron/ipc/handlers/langgraph.ts
Due: backend

fix: Deep Web Research parameter filtering 강화
  lib/langgraph/graphs/deep-web-research.ts
Due: backend

docs: Deep Web Research parameter filtering 개선사항 릴리스 노트 업데이트
  release_notes/v0.6.0_v2.md
Due: none

fix: Chat Agent toolsNode에 tavily_search parameter filtering 추가
  lib/langgraph/nodes/tools.ts
Due: backend

fix: 대화 압축 메시지가 DB에 저장되지 않는 문제 수정
  components/layout/ChatHistory.tsx
  electron/ipc/handlers/chat.ts
  electron/preload.ts
  electron/services/database.ts
  types/electron.d.ts
Due: frontend, backend

fix: Stream event conversationId 필터링 추가 (Tool Approval Dialog 수정)
  components/browser/SimpleChatInput.tsx
  components/chat/InputBox.tsx
  components/editor/EditorChatInput.tsx
  electron/ipc/handlers/langgraph.ts
  lib/langgraph/graphs/chat-agent.ts
  types/electron.d.ts
Due: frontend, backend

fix: Google 검색 결과 추출 선택자 개선
  lib/mcp/tools/google-search-handlers.ts
Due: backend

docs: v0.6.0 릴리스 노트에 Google 검색 결과 추출 개선 추가
  release_notes/v0.6.0.md
Due: none

docs: v0.6.0 릴리스 노트에 Chat Agent UI 로딩 상태 개선 추가
  release_notes/v0.6.0_v2.md
Due: none

fix: EditorChatInput에 Tool Approval 이벤트 처리 추가
  components/editor/EditorChatInput.tsx
Due: frontend

feat: GitHub Token 기반 동기화 기능 구현
  components/chat/CompressConversationDialog.tsx
  components/settings/SettingsDialog.tsx
  electron/ipc/index.ts
  electron/preload.ts
  release_notes/v0.6.0.md
  types/electron.d.ts
  types/index.ts
Due: frontend, backend

feat: GitHub Sync 기능 핵심 파일 추가
  components/settings/GitHubSyncSettings.tsx
  electron/ipc/handlers/github-sync.ts
  lib/github/client.ts
  lib/github/encryption.ts
Due: frontend, backend

fix: 대화 압축 시 assistant 응답이 사라지는 문제 수정
  components/settings/SettingsDialog.tsx
Due: frontend

fix: BrowserView console 로그 필터링 추가
  electron/ipc/handlers/browser-view.ts
Due: backend

docs: v0.6.0 릴리스 노트에 BrowserView 로그 필터링 추가
  release_notes/v0.6.0.md
Due: none

refactor: GitHub 메뉴를 System 카테고리로 이동
  components/settings/SettingsSidebar.tsx
Due: frontend

fix: Deep Web Research completion 이벤트 및 라우팅 개선
  lib/langgraph/index.ts
  lib/langgraph/types.ts
  release_notes/v0.6.0_v2.md
Due: backend

refactor: coding-agent 툴 실행 로그 출력 개선
  lib/langgraph/graphs/coding-agent.ts
Due: backend

feat: Browser Agent 에러 복구 및 Editor Agent 로그 개선
  lib/langgraph/graphs/browser-agent.ts
  lib/langgraph/graphs/editor-agent.ts
  release_notes/v0.6.0.md
Due: backend

fix: Deep Web Research StreamEvent 타입 에러 수정
  components/rag/DocumentEditDialog.tsx
  components/rag/DocumentList.tsx
  lib/github/client.ts
  lib/langgraph/index.ts
  types/index.ts
Due: frontend, backend

feat: RAG 문서 편집 기능 대폭 개선
  release_notes/v0.6.0.md
Due: none

feat: Persona 동기화 추가 및 GitHub Sync UI 재구조화
  components/settings/GitHubSyncSettings.tsx
  electron/ipc/handlers/github-sync.ts
  electron/preload.ts
  types/electron.d.ts
Due: frontend, backend

docs: v0.6.0 릴리스 노트에 Persona 동기화 및 UI 개선 추가
  release_notes/v0.6.0.md
Due: none

fix: DatabaseService private db 접근 제거
  electron/ipc/handlers/github-sync.ts
Due: backend

docs: v0.6.0_v2.md를 v0.6.0.md의 상세 내용으로 업데이트
  release_notes/v0.6.0_v2.md
Due: none

docs: GitHub Pages를 v0.6.0 릴리스 노트 기반으로 대폭 업데이트
  docs/README.md
  docs/index.html
Due: none

feat: 개별 Tool 토글 드롭다운 UI 구현
  components/chat/InputBox.tsx
  components/chat/unified/hooks/useChatInput.ts
  components/chat/unified/hooks/useChatMessages.ts
  components/chat/unified/hooks/useChatStreaming.ts
  components/chat/unified/types.ts
  lib/store/chat-store.ts
Due: frontend, backend

docs: GitHub 통합 기능 문서화 개선 (재귀적 탐색 및 Private Repo 지원 안내)
  components/rag/DocumentUploadDialog.tsx
  release_notes/v0.6.0.md
Due: frontend

feat: Perplexity 스타일 인터랙티브 컴포넌트 구현
  .claude/plans/chat-components-unification.md
  components/chat/InputBox.tsx
  components/chat/InteractiveInput.tsx
  components/chat/InteractiveSelect.tsx
  components/chat/MessageBubble.tsx
  components/chat/ToolResult.tsx
  components/settings/ImageGenSettingsTab.tsx
  components/settings/SettingsDialog.tsx
  components/settings/SettingsSidebar.tsx
  components/settings/settingsUtils.ts
  lib/langgraph/graphs/browser-agent.ts
  lib/mcp/tools/google-search-handlers.ts
  lib/prompts/interactive-components-guide.md
  lib/utils/interactive-parser.ts
  types/index.ts
Due: frontend, backend

feat: ImageGen 지원 추가 (ComfyUI, NanoBanana)
  components/chat/unified/UnifiedChatArea.tsx
  components/settings/SettingsDialog.tsx
  lib/langgraph/graphs/browser-agent.ts
Due: frontend, backend

feat: Browser Agent 반복 실패 방지 및 파라미터 가이드 강화
  release_notes/v0.6.0.md
Due: none

docs: v0.6.0 릴리스 노트에 ImageGen 기능 추가
  release_notes/v0.6.0.md
Due: none

Path conditions:
  frontend: any of: app/, components/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.d.ts, dist/, .next/, node_modules/, scripts/, **/__mocks__/
  backend: any of: lib/, electron/, but not: tests/, **/*.test.ts, **/*.test.tsx, **/*.d.ts, dist/, .next/, node_modules/, scripts/, **/__mocks__/
